body{
    background: #eceaec;
    font-size: 14px;
}

.register-box{
    background: #fff;
    -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.49);
    padding-top: 10px;
    padding-bottom: 15px;
}

.register-box .logo{
    width: 150px;
    height: auto;
}

.dotsandlines {
    display: table;
    width: 100%;
}
.circle-contain, .line {
    display: table-cell;
}
.circle-contain {
    width: 1px;
}
.circle {
    background: #918b8c;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    position: relative;
    top: 14px;
    border: 4px solid #fff;
    line-height: 27px;
}
.line {
    border-bottom: 2px solid #d8d6d8;
}
.circle.active {
    background: #00d240;
}

.form-step-title{
    color: #004992;
    font-size: 1.55rem;
}

.steps-row{
    margin-bottom: -10px;
}

.form-row{
    margin-bottom: 0.5rem;
    color: #858284;
}

.form-control{
    line-height: 1.0;
    border: 2px solid rgba(0,0,0,.15);
    color:#858284;
}
.form-control:focus{
        border-color: #214293;
}

form{
    color:#858284;
}

.step-2 button.btn-big:hover{
    background: #c2c2c2;
    border-color: #bbbbbb;
}
.step-2 button.btn-big.active, .step-2 button.btn-big:active, .show>.step-2 button.btn-big.dropdown-toggle{
    background: #c2c2c2;
    border-color: #bbbbbb;

}
.step-2 button.btn-big,
.step-1 button.btn-big{
    width: 100%;
    border: 2px solid rgba(0,0,0,.15);
    font-size: 0.9em;
    height: 60px;
}
.step-2 button.btn-link,
.step-1 button.btn-link{
    color:#858284;
    text-decoration: underline;
}

.step-2 .alert{
    font-size: 0.8em;
}

.btn-success{
    border-color: #00d340;
    background-color: #00d340;
    cursor: pointer;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #218838;
}

.icons .fa{
    font-size: 2.0em;
}

.icons .fa-facebook-square{
    color: #427dba;
}

.icons .fa-twitter-square{
    color: #2fcff0;
}

.icons .fa-linkedin-square{
    color: #0079b1;
}

.icons .fa-google-plus-square{
    color: #ff432b;
}

.form-action-buttons {
    /*padding: 0px 10px;*/
}

.form-action-buttons button {
    width: 100%;
    margin-bottom: 10px;
}

.form-action-buttons button.btn-secondary:hover {
    background: #615c5d;
    border-color: #615c5d;
}
.form-action-buttons button.btn-secondary {
    background: #918b8c;
}

.final-step-content button, .final-step-content a{
    padding: 0;
    margin: -3px 0 0 0;
    color: #333;
    font-weight: 700;
    cursor: pointer;
}
.final-step-content button:hover, .final-step-content a:hover{
    color: #333;
}

.final-step-content button.btn-link, .final-step-content a{
    text-decoration: underline;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
#container{
    display: none;
}
.popover-header{
    background-color: #dad6d6;
}

.popover-body > div > div {
    line-height: 1.4;
    font-size: .8rem;
}

#service input, #order input{
    height: 30px !important;
}

.have_account{
	background: #27359e !important;
}

.have_account:hover{
	background: #1a2261 !important;
}
.btn-secondary{
  cursor:pointer;
}
.btn-outline-secondary{
  cursor: pointer;
}
.btn-outline-secondary:hover{
  color: white;
  background-color: #4786c5;
}
.avatar-uploader .el-upload {
   border: 1px dashed #d9d9d9;
   border-radius: 6px;
   cursor: pointer;
   position: relative;
   overflow: hidden;
 }
 .avatar-uploader .el-upload:hover {
   border-color: #409EFF;
 }
 .avatar-uploader-icon {
   font-size: 28px;
   color: #8c939d;
   width: 178px;
   height: 178px;
   line-height: 178px;
   text-align: center;
 }
 .avatar {
   width: 178px;
   height: 178px;
   display: block;
 }
.disabled-avatar .el-upload{
  cursor:default;
}
.removeLogo{
  color:#ff0000a3;
}
.removeLogo:hover{
  color: #ff0000a3;
  text-decoration: underline;
}
