{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% load url from suit_compat %}

{% block extrahead %}
  {{ block.super }}
  {% url 'admin:jsi18n' as jsi18nurl %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <!-- <link rel="stylesheet" href="{% static 'admin/css/element2.css' %}"> -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'admin/css/vueWysiwyg.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/quill.snow.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 	  <link rel="stylesheet" type="text/css" href="{% static 'css/config.css' %}">
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    <li>
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      <span class="divider">»</span>
    </li>
    <li class="active">
      Administración
    </li>
  </ul>
{% endblock %}
{% block content %}
<div id="config" style="display: none;">
  <el-row>
      <el-col :span="4" style="background:#e5e9f2">
        <div class="vertical-menu">
          <a @click="gotoStep(1)" :class="{'active' : step == 1}"><i class="far fa-address-card"></i> Mi Cuenta</a>
          <a @click="gotoStep(2)" :class="{'active' : step == 2}"><i class="far fa-envelope"></i> Notificación de Correo</a>
          <a v-if="user.isOperator == 'True'" @click="gotoStep(3)" :class="{'active' : step == 3 || step == 4}"><i class="fas fa-users"></i> Cuentas de Agentes</a>
        </div>
      </el-col>
      <el-col :span="20" class="config-content">
        <div v-show="step == 1">
          <el-form :label-position="'top'" :size="'medium'">
              <div :class="{'background-white': true}" v-for="company, index in companies">
                <el-row>
                  <h3 v-if="user.isOperator == 'True'">Datos de la Empresa</h3>
                  <h3 v-if="user.isOperator == 'False'">Datos de la Compañia Asociada</h3>
                </el-row>
                <el-row>
                  <el-col :span="8">
                    <el-form-item label="Nombre*" :class="{'error':errorsVee.has('name_'+index)}">
                        <el-input v-model="company.name" placeholder="Escriba el nombre de la empresa" :readonly="user.isOperator == 'False'" v-validate="user.isOperator == 'True' ? 'required': ''"  data-vv-value-path="value" :data-vv-name="'name_'+index" :name="'name_'+index" data-vv-as="Nombre" :value="company.name"></el-input>
                        <span v-show="errorsVee.has('name_'+index)" class="error-info">${errorsVee.first('name_'+index)}</span>
                    </el-form-item>
                    <!-- <el-form-item label="Nombre*">
                      <el-input v-model="company.name" placeholder="Escriba el nombre de la empresa" :readonly="true"></el-input>
                    </el-form-item> -->
                  </el-col>
                  <el-col :span="8" :offset="2">
                    <el-form-item label="URL">
                        <el-input v-model="company.url" placeholder="Escriba la Url de la empresa" :readonly="user.isOperator == 'False'"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                 <el-col :span="8">
                   <el-form-item label="Teléfono">
                       <el-input v-model="company.phone" placeholder="Escriba el teléfono de la empresa" :readonly="user.isOperator == 'False'" type="number"></el-input>
                   </el-form-item>
                 </el-col>
                 <el-col :span="8" :offset="2">
                   <el-form-item label="Dirección">
                       <el-input v-model="company.address" placeholder="Escriba la dirección de la empresa" :readonly="user.isOperator == 'False'"></el-input>
                   </el-form-item>
                 </el-col>
                </el-row>
                <el-row>
                 <el-col :span="8">
                   <el-form-item label="Correo" :class="{'error':errorsVee.has('email_'+index)}">
                       <el-input v-model="company.email" placeholder="Escriba el correo de la empresa" :readonly="user.isOperator == 'False'" v-validate="user.isOperator == 'True' ? 'email': ''"  data-vv-value-path="value" :data-vv-name="'email_'+index" :name="'email_'+index" data-vv-as="Correo" :value="company.email"></el-input>
                       <span v-show="errorsVee.has('email_'+index)" class="error-info">${errorsVee.first('email_'+index)}</span>
                   </el-form-item>
                 </el-col>
                <el-col :span="8" :offset="2">
                  <el-form-item label="RUC">
                      <el-input v-model="company.ruc" placeholder="Escriba el RUC de la empresa" :readonly="user.isOperator == 'False'"></el-input>
                  </el-form-item>
                </el-col>
                </el-row>
                <el-row>
                 <el-col :span="8">
                   <el-form-item label="País">
                     <el-select v-model="company.country" placeholder="-- Selecciona el país --" @change="changeCountry" :disabled="user.isOperator == 'False'">
                       <el-option :key="0" label="-- Selecciona tu país --" :value="0">
                       </el-option>
                       <el-option v-for="item in countries" :key="item.id" :label="item.name" :value="item.id">
                       </el-option>
                    </el-select>
                    </el-form-item>
                 </el-col>
                 <el-col :span="8" :offset="2">
                  <el-form-item label="Ciudad">
                    <el-select v-if="cities.length > 0 || company.country == 0" v-model="company.city" placeholder="-- Selecciona la ciudad --" no-data-text="Sin ciudades" :disabled="cities.length == 0 ||user.isOperator == 'False'">
                      <el-option v-for="item in cities" :key="item.value" :label="item.text" :value="item.value">
                      </el-option>
                    </el-select>
                    <el-input v-if="cities.length == 0 && (company.country != 0 || company.country != '')" v-model="company.city" placeholder="Escriba la ciudad de la empresa" :readonly="user.isOperator == 'False'"></el-input>
                  </el-form-item>
                 </el-col>
                </el-row>
                <!-- <el-row  v-if="user.isOperator == 'True' || (user.isOperator == 'False' && imageUrl != '')"> -->
                <el-row  v-if="user.isOperator == 'True'">
                  <el-col :span="8">
                    <el-form-item label="Logo">
                      <el-upload
                        :class="{'avatar-uploader': true, 'disabled-avatar': company.logo.length != 0}"
                        :multiple='false'
                        :show-file-list="false"
                        :on-change="changeImage"
                        accept="image/*"
                        :auto-upload='false'
                        :disabled="company.logo.length != 0 || user.isOperator == 'False'">
                        <img v-if="company.logo" :src="company.logo" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                      </el-upload>
                      <el-button type="text" v-if="company.logo && user.isOperator == 'True'" class="removeLogo" @click="removeLogo">Quitar logo</el-button>
                    </el-form-item>
                  </el-col>
                </el-row>
              </div>
              <div :class="{'background-white': true}">
                <el-row>
                  <h3>Datos Personales</h3>
                </el-row>
                <el-row>
                  <el-col :span="8">
                    <el-form-item label="Nombres*" :class="{'error':errorsVee.has('userName')}">
                        <el-input v-model="user.name" placeholder="Escribe tus nombres" data-vv-as="Nombres" v-validate="'required|alpha_spaces'"  data-vv-value-path="value" data-vv-name="userName"></el-input>
                        <span v-show="errorsVee.has('userName')" class="error-info">${errorsVee.first('userName')}</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8" :offset="2">
                    <el-form-item label="Apellidos*" :class="{'error':errorsVee.has('userLastName')}">
                        <el-input v-model="user.lastName" placeholder="Escribe tus apellidos" data-vv-as="Apellidos" v-validate="'required|alpha_spaces'"  data-vv-value-path="value" data-vv-name="userLastName"></el-input>
                        <span v-show="errorsVee.has('userLastName')" class="error-info">${errorsVee.first('userLastName')}</span>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                 <el-col :span="8">
                   <el-form-item label="Correo*" :class="{'error':errorsVee.has('userEmail')}">
                       <el-input v-model="user.email" placeholder="Escribe tu correo electrónico" data-vv-as="Correo" v-validate="'required|email'"  data-vv-value-path="value" data-vv-name="userEmail"></el-input>
                       <span v-show="errorsVee.has('userEmail')" class="error-info">${errorsVee.first('userEmail')}</span>
                   </el-form-item>
                 </el-col>
                 <el-col :span="8" :offset="2">
                   <el-form-item label="Contraseña" class="password">
                       <el-input type="password" v-model="user.password" placeholder="Escribe tu contraseña"></el-input>
                       <span class="password-info">* Deje este campo en blanco si no desea actualizar su contraseña</span>
                   </el-form-item>
                 </el-col>
                </el-row>
                <el-row v-if="user.isOperator == 'False'">
                  <el-col :span="12">
                    <el-form-item label="Tipo de Agente">
                      <el-radio-group v-model="user.isCompany">
                       <el-radio-button :label="true" style="margin-right: 30px">Soy Empresa</el-radio-button>
                       <el-radio-button :label="false">Soy Persona Natural</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                  </el-col>
                </el-row>
              </div>
              <!-- <div :class="{'background-white': true}" v-if="user.isCompany == true && user.isOperator == 'False'"> -->
              <div :class="{'background-white': true}" v-if="user.isOperator == 'False' && user.isCompany == true">
                <el-row>
                  <h3>Datos de la Empresa</h3>
                </el-row>
                <el-row>
                  <el-col :span="8">
                    <el-form-item label="Nombre*" :class="{'error':errorsVee.has('nameCompanyAgent')}">
                        <el-input v-model="user.companyName" placeholder="Escriba el nombre de la empresa"  data-vv-as="Nombre" v-validate="'required'"  data-vv-value-path="value" data-vv-name="nameCompanyAgent" :readonly="user.isCompany == false"></el-input>
                        <span v-show="errorsVee.has('nameCompanyAgent')" class="error-info">${errorsVee.first('nameCompanyAgent')}</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8" :offset="2">
                    <el-form-item label="URL">
                        <el-input v-model="user.companyUrl" placeholder="Escriba la Url de la empresa" :readonly="user.isCompany == false"></el-input>
                        <!-- <span v-show="errorsVee.has('title')" class="error-info">${errorsVee.first('title')}</span> -->
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                 <el-col :span="8">
                   <el-form-item label="Teléfono">
                       <el-input v-model="user.companyPhone" placeholder="Escriba el teléfono de la empresa" :readonly="user.isCompany == false"></el-input>
                       <!-- <span v-show="errorsVee.has('title')" class="error-info">${errorsVee.first('title')}</span> -->
                   </el-form-item>
                 </el-col>
                 <el-col :span="8" :offset="2">
                   <el-form-item label="Dirección">
                       <el-input v-model="user.companyAddress" placeholder="Escriba la dirección de la empresa" :readonly="user.isCompany == false"></el-input>
                       <!-- <span v-show="errorsVee.has('title')" class="error-info">${errorsVee.first('title')}</span> -->
                   </el-form-item>
                 </el-col>
                </el-row>
                <el-row>
                 <el-col :span="8">
                   <el-form-item label="Correo">
                       <el-input v-model="user.companyEmail" placeholder="Escriba el correo de la empresa" :readonly="user.isCompany == false"></el-input>
                       <!-- <span v-show="errorsVee.has('title')" class="error-info">${errorsVee.first('title')}</span> -->
                   </el-form-item>
                 </el-col>
                <el-col :span="8" :offset="2">
                  <el-form-item label="RUC">
                      <el-input v-model="user.companyRuc" placeholder="Escriba el RUC de la empresa" :readonly="user.isCompany == false"></el-input>
                      <!-- <span v-show="errorsVee.has('title')" class="error-info">${errorsVee.first('title')}</span> -->
                  </el-form-item>
                </el-col>
                </el-row>
                <el-row>
                 <el-col :span="8">
                   <el-form-item label="País">
                     <el-select v-model="user.companyCountry" placeholder="-- Selecciona el país --" @change="changeCountryAgent" :disabled="user.isCompany == false">
                       <el-option :key="0" label="-- Selecciona tu país --" :value="0">
                       </el-option>
                       <el-option v-for="item in countries" :key="item.id" :label="item.name" :value="item.id">
                       </el-option>
                    </el-select>
                       <!-- <span v-show="errorsVee.has('title')" class="error-info">${errorsVee.first('title')}</span> -->
                   </el-form-item>
                 </el-col>
                <el-col :span="8" :offset="2">
                  <el-form-item label="Ciudad">
                    <el-select v-if="user.citiesAgent.length > 0 || user.companyCountry == 0" v-model="user.companyCity" placeholder="-- Selecciona la ciudad --" no-data-text="Sin ciudades" :disabled="user.citiesAgent.length == 0 || user.isCompany == false">
                      <el-option v-for="item in user.citiesAgent" :key="item.value" :label="item.text" :value="item.value">
                      </el-option>
                    </el-select>
                    <el-input v-if="user.citiesAgent.length == 0 && (user.companyCountry != 0 || user.companyCountry != '')" v-model="user.companyCity" placeholder="Escriba la ciudad de la empresa" :readonly="user.isCompany == false"></el-input>
                      <!-- <span v-show="errorsVee.has('title')" class="error-info">${errorsVee.first('title')}</span> -->
                  </el-form-item>
                </el-col>
                </el-row>
              </div>
              <div :class="{'background-white': true}" v-if="user.isOperator == 'False'">
                <el-row>
                  <h3>Logo de Agente</h3>
                </el-row>
                <el-row>
                  <el-col :span="8">
                    <el-form-item label="Imagen">
                      <el-upload
                        :class="{'avatar-uploader': true, 'disabled-avatar': imageAgentUrl.length != 0}"
                        :multiple='false'
                        :show-file-list="false"
                        :on-change="changeImageAgent"
                        accept="image/*"
                        :auto-upload='false'
                        :disabled="imageAgentUrl.length != 0">
                        <img v-if="imageAgentUrl" :src="imageAgentUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                      </el-upload>
                      <el-button type="text" v-if="imageAgentUrl" class="removeLogo" @click="removeLogoAgent">Quitar imagen</el-button>
                        <!-- <span v-show="errorsVee.has('title')" class="error-info">${errorsVee.first('title')}</span> -->
                    </el-form-item>
                  </el-col>
                </el-row>
              </div>
              <!-- <div :class="{'background-white': true}">
                <el-row>
                  <h3>Datos de Pago (CULQI)</h3>
                </el-row>
                <el-row>
                  <el-col :span="18">
                    <el-form-item label="Llave privada">
                        <el-input v-model="privateKey" placeholder="Escribe tu llave privada"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="18">
                    <el-form-item label="Llave pública">
                        <el-input v-model="publicKey" placeholder="Escribe tu llave pública"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
              </div> -->
              <el-row style="text-align:center;margin-bottom:30px;">
                  <el-button class="button-save" type="success" :loading="loading" @click="save">Guardar</el-button>
              </el-row>
              <!-- <div :class="{'background-white': true}">
                <el-row>
                  <h3>Gestión de Precios</h3>
                </el-row>
                <el-row>
                  <el-col :span="4">
                    <el-form-item label="Paso 1:">
                        <el-button type="warning" class='excel-button'>Descargar excel</el-button>
                    </el-form-item>
                  </el-col>
                  <el-col :span="4" :offset="3">
                    <el-form-item label="Paso 2:">
                        <p style="line-height:20px">Completar o Modificar los precios confidenciales de los servicios.</p>
                    </el-form-item>
                  </el-col>
                  <el-col :span="4" :offset="3">
                    <el-form-item label="Paso 3:">
                        <el-button type="warning" class='excel-button'>Importar excel</el-button>
                    </el-form-item>
                  </el-col>
                </el-row>
              </div> -->
          </el-form>
        </div>
        <div v-show="step == 2">
          <div :class="{'background-white': true}">
            <el-row>
              <h3 style="display:inline-block">Notificación de Correo</h3>
            </el-row>
            <el-row style="margin-top:20px;">
              <el-col :span="16">
                <p style="text-align:justify">Para personalizar el contendido del correo puedes ingresar la información que deseas en la caja de texto que esta debajo. También puedes incluir etiquestas dinámicas utilizando las dobles llaves; éstas son las que se muestran al lado derecho.</p>
              </el-col>
            </el-row>
            <el-row style="margin-top:20px;">
              <el-col :span="16">
                <h4>Notificación en español:</h4>
                <el-input type="textarea" placeholder="Escribe aquí" v-model="emailInfo" ref="emailInfo" class="email-info" @focus="textAreaSelected('es')">
                </el-input>
              </el-col>
              <el-col :span="7" :offset="1">
                <el-row :gutter='10'>
                  <el-col :span='12' style="margin-bottom:10px;">
                    <el-button @click="setEmailInfo('nombre_cliente')" class="tags-email">
                      <el-tag style="width:100%" type="warning">nombre_cliente</el-tag>
                    </el-button>
                  </el-col>
                  <el-col :span='12' style="margin-bottom:10px;">
                    <el-button @click="setEmailInfo('apellidos_cliente')" class="tags-email">
                      <el-tag style="width:100%" type="warning">apellidos_cliente</el-tag>
                    </el-button>
                  </el-col>
                </el-row>

                <el-row :gutter='10'>
                  <el-col :span='12'style="margin-bottom:10px;">
                    <el-button @click="setEmailInfo('monto_total')" class="tags-email">
                      <el-tag style="width:100%" type="warning">monto_total</el-tag>
                    </el-button>
                  </el-col>
                  <el-col :span='12'style="margin-bottom:10px;">
                    <el-button @click="setEmailInfo('hora_servicio')" class="tags-email">
                      <el-tag style="width:100%" type="warning">hora_servicio</el-tag>
                    </el-button>
                  </el-col>
                </el-row>

                <el-row :gutter='10'>
                  <el-col :span='12'style="margin-bottom:10px;">
                    <el-button @click="setEmailInfo('fecha_servicio')" class="tags-email">
                      <el-tag style="width:100%" type="warning">fecha_servicio</el-tag>
                    </el-button>
                  </el-col>
                  <el-col :span='12'style="margin-bottom:10px;">
                    <el-button @click="setEmailInfo('duración_servicio')" class="tags-email">
                      <el-tag style="width:100%" type="warning">duración_servicio</el-tag>
                    </el-button>
                  </el-col>
                </el-row>

                <el-row :gutter='10'>
                  <el-col :span='12'style="margin-bottom:10px;">
                    <el-button @click="setEmailInfo('nombre_servicio')" class="tags-email">
                      <el-tag style="width:100%" type="warning">nombre_servicio</el-tag>
                    </el-button>
                  </el-col>
                </el-row>

              </el-col>
              <el-col :span="16">
                  <h4>Notificación en inglés:</h4>
                <el-input type="textarea" placeholder="Escribe aquí" v-model="emailInfoEnglish" ref="emailInfoEnglish" class="email-info" @focus="textAreaSelected('en')">
                </el-input>
              </el-col>
            </el-row>
            <el-row>
              <el-button type="success" @click="saveEmailInfo" :loading="loadingSaveEmail">Guardar</el-button>
            </el-row>
          </div>
        </div>
        <div v-show="step == 3">
          <div :class="{'background-white': true}">
            <el-row>
              <h3 style="display:inline-block">Agentes</h3>
              <el-button class="invite-button" size='medium' round @click="gotoStep(4)">Invitar Agente <i class="fas fa-user-plus"></i></el-button>
            </el-row>

            <el-tabs v-model="activeUsersTab">
              <el-tab-pane label="Confirmados" name="confirmed">
                <el-row style="margin-top:60px;">
                  <div v-if="loadingAgents" style="text-align:center">
                    <b-row>
                        <b-col>
                            <beat-loader :loading="true" color="#0b448f" size="15px"></beat-loader>
                        </b-col>
                    </b-row>
                  </div>
                  <div v-else>
                    <el-table
                      :data="agentsConfirm"
                      style="width: 100%"
                      empty-text="Sin Confirmados">

                      <el-table-column prop="name" label="Nombres" width="180">
                      </el-table-column>
                      <el-table-column prop="last_name" label="Apellidos" width="180">
                      </el-table-column>
                      <el-table-column prop="email" label="Email" width="180">
                      </el-table-column>
                      <el-table-column prop="user_intern" label="Agente interno" width="130">
                        <template slot-scope="scope">
                          <div style="text-align: center;">
                            <!-- <i class="el-icon-error" v-if="scope.row.user_intern == false"></i>
                            <i class="el-icon-success" v-if="scope.row.user_intern == true"></i> -->
                            <el-switch v-model="scope.row.agent_intern" active-color="#13ce66" inactive-color="#ff4949" @change="setAgentIntern(scope.row.agent_intern, scope.row.id)">
                            </el-switch>
                          </div>
                        </template>
                      </el-table-column>
                      <el-table-column
                        label="">
                        <template slot-scope="scope">
                          <el-button class="button-unlink" size="mini" @click="unLinkAgent(scope.$index, scope.row.email)">Desvincular</el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </div>

                </el-row>
              </el-tab-pane>
              <el-tab-pane label="Pendientes" name="pending">
                <el-row style="margin-top:60px;">
                  <div v-if="loadingAgents">
                    <b-row>
                        <b-col>
                            <beat-loader :loading="true" color="#0b448f" size="15px"></beat-loader>
                        </b-col>
                    </b-row>
                  </div>
                  <div v-else>

                    <el-table
                      :data="agentsPending"
                      style="width: 100%"
                      empty-text="Sin Pendientes">

                      <el-table-column prop="email" label="Email" width="180">
                      </el-table-column>
                      <el-table-column prop="date" label="Fecha de invitación" width="180">
                      </el-table-column>
                      <el-table-column
                        label="">
                        <template slot-scope="scope">
                          <el-button class="button-reenvio" size="mini" @click="reInviteAgent(scope.$index, scope.row.email)">Volver a invitar</el-button>
                        </template>
                      </el-table-column>
                    </el-table>

                  </div>
                </el-row>    
              </el-tab-pane>
            </el-tabs>

            
            
            
          </div>
        </div>
        <div v-show="step == 4">
          <div :class="{'background-white': true}">
            <el-row>
              <h3 style="display:inline-block">Invitar Agente</h3>
              <el-button class="invite-button" size='medium' round @click="gotoStep(3)">Ver agentes <i class="fas fa-users"></i></el-button>
            </el-row>
            <el-row style="text-align:center; margin-top:40px;">
              <el-select v-model="agentsEmail" class="select-invited" multiple filterable remote :remote-method="searchAgent" :allow-create="true"	placeholder="Por favor escribe el correo" ref='agentsInviter'>
                <el-option
                 v-for="item in optionsEmail"
                 :key="item.value"
                 :label="item.label"
                 :value="item.value"
                 :disabled="item.disabled">
                  <span style="float: left" v-if="item.disabled == false">${ item.label }</span>
                  <span style="float: left" v-if="item.pending_invite == true">${ item.label }&nbsp;(INVITADO)</span>
                  <span style="float: left" v-if="item.confirm_invite == true">${ item.label }&nbsp;(CONFIRMADO)</span>
                  <span style="float: left" v-if="item.operator == true">${ item.label }&nbsp;(ESTE CORREO PERTENECE A UN OPERADOR)</span>
                  <span style="float: left" v-if="item.agency == true">${ item.label }&nbsp;(ESTE CORREO PERTENECE A UNA AGENCIA)</span>
                </el-option>
              </el-select>
            </el-row>
            <el-row style="text-align:center;margin-top:100px; margin-bottom:10px;" >
                <el-button type="success" style="width:20%;border-radius:20px;" size="small" @click="inviteAgent" :disabled="agentsEmail.length == 0" :loading="loadingEmails">INVITAR</el-button>
            </el-row>
          </div>
        </div>
      </el-col>
  </el-row>
</div>

<script>
  var userInfo = {% autoescape off %}{{logged_user}}{% endautoescape off %}
  var companiesInfo = {% autoescape off %}{{companies}}{% endautoescape off %}
  var countries = {% autoescape off %}{{countries}}{% endautoescape off %}
  var cities = {% autoescape off %}{{cities}}{% endautoescape off %}
  var countryUrl = "{% url 'country' %}"
  var saveEmailUrl = "{% url 'save_email' %}"
  var agentInternUrl = "{% url 'agent_intern' %}"
  var operator = "{% autoescape off %}{{operator}}{% endautoescape off %}"
  var privateKey = "{% autoescape off %}{{private_key}}{% endautoescape off %}"
  var publicKey = "{% autoescape off %}{{public_key}}{% endautoescape off %}"
  var notification = "{% autoescape off %}{{notification}}{% endautoescape off %}"
  var notificationEnglish = "{% autoescape off %}{{notification_english}}{% endautoescape off %}"
</script>
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'admin/js/element2.js' %}"></script>
<script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<!-- <script src="{% static 'admin/js/element2.es.js' %}"></script> -->
<script src="{% static 'admin/js/lodash.min.js' %}"></script>
<script src="{% static 'admin/js/jquery.alphanum.min.js' %}"></script>
<script src="{% static 'js/vue-spinner.min.js' %}"></script>
<script src="{% static 'admin/js/vee-validate.js' %}"></script>
<script src="{% static 'admin/js/vee-validate.es.js' %}"></script>
<script src="https://unpkg.com/vue-upload-component"></script>
<script src="{% static 'js/config.js' %}"></script>

{% endblock %}
