{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% load url from suit_compat %}

{% block extrastyle %}
  {{ block.super }}

{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% url 'admin:jsi18n' as jsi18nurl %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<!-- <link rel="stylesheet" href="{% static 'admin/css/element.css' %}"> -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'admin/css/vueWysiwyg.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/quill.snow.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 	<link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}">
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}

  {% endblock %}
{% endif %}

{% block content %}
<div id="service">
	<!-- MENU -->
	<el-row class="menu">
		<el-col :span="calculateWithContainer">
			<el-row>
				<el-col @click.native="gotoStep(1)" :style="{'cursor': service.selectedCategory ? 'pointer' : 'auto'}" :span="8" :class="{'border':true, 'finished': step > 1, 'active': step == 1}">Tipo de servicio</el-col>
				<el-col @click.native="gotoStep(2)" :style="{'cursor': service.selectedCategory ? 'pointer' : 'auto'}" :span="8" :class="{'border':true, 'finished': step > 2, 'active': step == 2}">Datos del servicio</el-col>
				<el-col @click.native="gotoStep(3)" :style="{'cursor': service.selectedCategory ? 'pointer' : 'auto'}" :span="8" :class="{'border':true, 'finished': step > 3, 'active': step == 3}">Disponibilidad del servicio</el-col>
			</el-row>
		</el-col>
	</el-row>

	<el-row class="mt-4 ml-2">
		<!-- COLUMNA DEL CONTENIDO VARIABLE DEL PRODUCTO -->
		<el-col class="container"  :span="calculateWithContainer">
			<el-row>
				<el-col :span="24">
					<el-row>
						<el-col :span="24" class="form-container" :style="{'height': dynamicHeight}" id="scroll" @scroll.native="onScroll">
							<!-- STEP 1 -->
							<div v-show="step == 1" key="step1" class="container-step step-1">
								<el-row>
									<el-col>
										<h3 class="paragraph"> Por favor selecciona el tipo de servicio </h3>
									</el-col>
								</el-row>
								<el-row type="flex" justify="center">
									<el-col class="service-category" :offset="index > 0 ? 1:0" :span="7" v-for="category,index in categories">

										<div @click="selectCategory(category.id)" :class="{'border': true, 'item':true, 'active': service.selectedCategory == category.id }">
											<h4 class="category-title">${category.name} <i class="fa fa-check-circle"></i></h4>
										
											<p>${category.description}</p>
										</div>
									</el-col>
								</el-row>
							</div>

							<!-- STEP 2-->
							<div v-show="step == 2" key="step2" class="container-step step-2">
								<el-row >
									<el-col>
										<h3>Por favor completa los datos del servicio </h3>
										<h5><strong>(*) Todos los campos con asterisco son obligatorios</strong></h5>
									</el-col>
								</el-row>
								<el-form :label-position="'top'">
									<div :class="{'background-white': true}">
										<el-row>
											<h3>Detalles</h3>
										</el-row>
										<el-row>
											<el-col :span="18" >
												<el-form-item label="Título*" :class="{'error':errorsVee.has('title')}">
								    				<el-input v-model="service.title" @focus="setHelp('title')"
								    				placeholder="Escriba el título" data-vv-as="Título" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required': ''" data-vv-value-path="value"  name="title" data-vv-name="title" size="small"></el-input>
								    				<span v-show="errorsVee.has('title')" class="error-info">${errorsVee.first('title')}</span>
								  				</el-form-item>
							  				</el-col>
					  					</el-row>
					  					<el-row>
  											<el-col :span="6" >
  												<el-form-item label="Código*" :class="{'error':errorsVee.has('code')}">
  								    				<el-input v-model="service.code" @focus="setHelp('code')" placeholder="Escriba el código" data-vv-as="Código" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required': ''" data-vv-value-path="value" name="code" data-vv-name="code" size="small"></el-input>
  								    				<span v-show="errorsVee.has('code')" class="error-info">${errorsVee.first('code')}</span>
  								  				</el-form-item>
  							  				</el-col>
							  			</el-row>
                      					<el-row>
							  				<el-col :span="6">
												<el-form-item label="Cantidad mínima*" :class="{'error':errorsVee.has('min')}">
								    				<el-input type="number" class="input-number" v-model.number="service.min" @focus="setHelp('minimun_quantity')" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required|min_value:1': ''"  placeholder="Ej: 1" data-vv-as="Cantidad mínima" data-vv-value-path="value" name="min" data-vv-name="min" size="small"></el-input>
								    				<span v-show="errorsVee.has('min')" class="error-info">${errorsVee.first('min')}</span>
								  				</el-form-item>
							  				</el-col>
							  				<el-col :span="6" :offset="2">
												<el-form-item label="Cantidad máxima*" :class="{'error':errorsVee.has('max')}">
								    				<el-input type="number" class="input-number" v-model.number="service.max" @focus="setHelp('maximun_quantity')" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required|quantity': ''" placeholder="Ej: 1" data-vv-as="Cantidad máxima" data-vv-value-path="value" name="max" data-vv-name="max" size="small"></el-input>
								    				<span v-show="errorsVee.has('max')" class="error-info">${errorsVee.first('max')}</span>
								  				</el-form-item>
							  				</el-col>
					  					</el-row>
					  				</div>

								    <div :class="{'background-white': true}">
				  						<el-col :span="22" >
					  						<h3>Información</h3>
							    		</el-col>
								    	<el-row>
								    		<el-col :span="24" >
									    		<el-form-item class="wysiwyg-container" label="Descripción corta*" :class="{'error':errorsVee.has('descriptionShort')}">
									    			<quill-editor class="wysiwyg" :options="quillOptions" @focus="focusQuillWysiwyg('short_description')" v-model="service.descriptionShort" data-vv-as="Descripción corta" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required': ''" data-vv-value-path="value" name="descriptionShort" data-vv-name="descriptionShort">

														</quill-editor>
														<span v-show="errorsVee.has('descriptionShort')" class="error-info">${errorsVee.first('descriptionShort')}</span>
									    		</el-form-item>

								    		</el-col>
								    	</el-row>
								    	<el-row>
								    		<el-col :span="24" >
									    		<el-form-item class="wysiwyg-container long-wysiwyg" label="Descripción larga*" :class="{'error':errorsVee.has('descriptionLong')}">
									    			<quill-editor class="wysiwyg" :options="quillOptions" @focus="focusQuillWysiwyg('long_description',true)" v-model="service.descriptionLong"
										                :options="editorOptions" v-model="service.descriptionLong" data-vv-as="Descripción larga" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required': ''" data-vv-value-path="value" name="descriptionLong" data-vv-name="descriptionLong">
													</quill-editor>
													<span v-show="errorsVee.has('descriptionLong')" class="error-info">${errorsVee.first('descriptionLong')}</span>
									    		</el-form-item>
								    		</el-col>
								    	</el-row>
								    	<el-row>
								    		<el-col :span="24" >
									    		<el-form-item class="wysiwyg-container itinerary-wysiwyg" label="Itinerario*" :class="{'error':errorsVee.has('itinerary')}">
									    			<quill-editor class="wysiwyg" :options="quillOptions" @focus="focusQuillWysiwyg('itinerary')" v-model="service.itinerary"
										                :options="editorOptions"  data-vv-as="Itinerario" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required|min:15': ''" data-vv-value-path="value" name="itinerary" data-vv-name="itinerary">
													</quill-editor>
													<span v-show="errorsVee.has('itinerary')" class="error-info">${errorsVee.first('itinerary')}</span>
									    		</el-form-item>
								    		</el-col>
								    	</el-row>
								    	<el-row>
								    		<el-col :span="24" >
									    		<el-form-item class="wysiwyg-container included-wysiwyg" label="Incluído*" :class="{'error':errorsVee.has('included')}">
									    			<quill-editor class="wysiwyg" :options="quillOptions" @focus="focusQuillWysiwyg('included')" v-model="service.included"
										                :options="editorOptions" data-vv-as="Incluído" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required': ''" data-vv-value-path="value" name="included" data-vv-name="included">
													</quill-editor>
													<span v-show="errorsVee.has('included')" class="error-info">${errorsVee.first('included')}</span>
									    		</el-form-item>
								    		</el-col>
								    	</el-row>
								    	<el-row>
								    		<el-col :span="24" >
									    		<el-form-item class="wysiwyg-container not-included-wysiwyg" label="No incluído*" :class="{'error':errorsVee.has('notIncluded')}">
									    			<quill-editor class="wysiwyg" :options="quillOptions" @focus="focusQuillWysiwyg('not_included')" v-model="service.notIncluded"
										                :options="editorOptions" data-vv-as="No incluído" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required': ''" data-vv-value-path="value" name="notIncluded" data-vv-name="notIncluded">
													</quill-editor>
													<span v-show="errorsVee.has('notIncluded')" class="error-info">${errorsVee.first('notIncluded')}</span>
									    		</el-form-item>
								    		</el-col>
								    	</el-row>
								    	<el-row>
								    		<el-col :span="24" >
									    		<el-form-item class="wysiwyg-container" label="Recomendaciones">
									    			<quill-editor class="wysiwyg" :options="quillOptions" @focus="focusQuillWysiwyg('recommendations')" v-model="service.recommendations"
										                :options="editorOptions">
													</quill-editor>
									    		</el-form-item>
								    		</el-col>
								    	</el-row>
								    	<el-row>
								    		<el-col :span="24" >
									    		<el-form-item class="wysiwyg-container" label="Información adicional">
									    			<quill-editor class="wysiwyg" :options="quillOptions" @focus="focusQuillWysiwyg('additional_information')" v-model="service.additionalInformation" :options="editorOptions">
													</quill-editor>
									    		</el-form-item>
								    		</el-col>
								    	</el-row>
								    	<el-row>
								    		<el-col :span="24" >
								    			<el-form-item class="wysiwyg-container" class="wysiwyg" label="Términos y condiciones*" :class="{'error':errorsVee.has('terms')}">
									    			<quill-editor class="wysiwyg" :options="quillOptions" @focus="focusQuillWysiwyg('terms')" v-model="service.terms"
										                :options="editorOptions" data-vv-as="Términos y condiciones" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required': ''" data-vv-value-path="value" name="terms" data-vv-name="terms">
													</quill-editor>
								    				<span v-show="errorsVee.has('terms')" class="error-info">${errorsVee.first('terms')}</span>
									    		</el-form-item>
								    		</el-col>
								    	</el-row>
								    </div>
								    <div :class="{'background-white': true}">
				  						<el-col :span="22" >
					  						<h3>Media</h3>
							    		</el-col>
								    	<el-row>
								    		<el-col :span="24" >
									    		<el-form-item label="Imágenes">
										    		<dropzone
										    			@mouseover.native="setHelp('images')"
										    			:accepted-file-types="'.jpg,.png,.jpeg,.gif'"
										    			:use-custom-dropzone-options="true"
										    			:options="dropzoneOptions"
										    			ref="dropzone"
										    			id="dropzone"
										    			@vdropzone-mounted="dropzoneMounted"
										    			@vdropzone-success="uploadSuccess"
										    			@vdropzone-removed-file="fileRemoved"
														@vdropzone-error="dropzoneError"
														@vdropzone-queue-complete="dropzoneQueueComplete"
										    		>
												        <input type="hidden" name="serviceId" :value="service.serviceId">
												    </dropzone>
									    		</el-form-item>
								    		</el-col>
								    	</el-row>
								    	<el-row>
								    		<el-col :span="24" >
									    		<el-form-item label="Video">
										    		<el-input v-model="service.link" placeholder="http://video" @focus="setHelp('video_link')" data-vv-as="Enlace a video" data-vv-value-path="value" name="link" data-vv-name="link" size="small">
													</el-input>
								    				<span v-show="errorsVee.has('link')" class="error-info">${errorsVee.first('link')}</span>
									    		</el-form-item>
								    		</el-col>
								    	</el-row>
								    </div>
								    <div :class="{'background-white': true}">
					  					<el-row :class="{'prices':true, 'error':errorsVee.has('prices')}" >
					  						<el-col :span="22" >
						  						<h3>Precios</h3>
								    		</el-col>
								    		<el-row>
									    		<el-col :span="24" >
										    		<el-form-item label="Moneda*" :class="{'error':errorsVee.has('currency')}">
											    		<el-select
															@visible-change="setHelp('currency')"
															v-validate="service.draft == false  || userWantsToFinalize == true ? 'required' : ''"
															data-vv-value-path="value"
															data-vv-as="Moneda"
															:name="'currency'"
															:data-vv-name="'currency'"
															v-model.number="service.currency"
															placeholder="Selecciona la moneda"
															size="small"
														>
													    	<el-option v-for="currency in currencies" :key="currency.id" :value="currency.id" :label="currency.symbol + ' - ' + currency.name">
														</el-select>
								    					<span v-show="errorsVee.has('currency')" class="error-info">${errorsVee.first('currency')}</span>
													</el-form-item>
												</el-col>
											</el-row>
					  						<el-col :span="22" >
						  						<h5>Selecciona los precios que deseas agregar</h5>
								    		</el-col>
								    		<el-col class="service-price" :span="24"  v-validate="service.draft == false  || userWantsToFinalize == true ? 'prices': ''" data-vv-as="Precios" name="prices" data-vv-name="prices">
								    			<el-row>
								    				<el-col :span="3" :offset="1">
														<el-form-item label="Categoría*">
									    				</el-form-item>
								    				</el-col>
								    				<el-col :span="3"  :offset="1" >
														<el-form-item label="Precio*">
										    			</el-form-item>
								    				</el-col>
								    				<el-col :span="3" :offset="1" >
														<el-form-item label="">
											    		</el-form-item>
									    			</el-col>
									    			<el-col :span="5" :offset="1">
														<el-form-item label="">
											    		</el-form-item>
									    			</el-col>

												</el-row>
												<div v-for="price,index in service.prices" @mouseover="mouseOverPriceRow(price.description, price.category)">
                            						<el-row :key="'index_'+index" :class="{'price-disabled' : !price.enabled, 'price-hover':true}" v-if="price.default == true">
									    				<el-col :span="1" :class="{'group-checkbox': price.category == 3 || price.category == 2, 'normal-checkbox': price.category == 1 || price.category == 4 || price.category == 5}">
									    					<el-popover v-if="price.default == true" :disabled="!price.disabled" placement="left-start" title="" width="200" trigger="hover" :content="getPriceTooltipInfo(price)">
									                   			<el-checkbox v-model="price.enabled" @change="validateServicePrice(price.category,price.enabled)" :disabled="priceDisabled(price.disabled)" slot="reference">
																</el-checkbox>
															 </el-popover>
									    				</el-col>
														<el-col :span="3" :class="{'group-label': price.category == 3 || price.category == 2, 'normal-label': price.category == 1 || price.category == 4 || price.category == 5}">
															<span>${price.category_name}</span>
									    				</el-col>
									    				<el-col :span="3"  :offset="1" :class="{'group-price': price.category == 3 || price.category == 2, 'error':errorsVee.has('price_'+index)}">
  															<el-input
  																v-validate="'required'"
  																data-vv-value-path="value"
  																:name="'price_'+index"
  																:data-vv-name="'price_'+index"
  																data-vv-as="Precio"
  																type="number"
  																v-model.number="price.price"
  																@focus="focusGroupField(price.category != 3 ? 'price' : 'group_price', 'price_'+index, price.category)"
  																placeholder="0.00"
  																min="0.01"
  																step="0.01"
  																:disabled="!price.enabled"
  																:ref="'price_'+index"
																size="small"></el-input>
  															<span v-show="errorsVee.has('price_'+index)" class="error-info">${errorsVee.first('price_'+index)}</span>
									    				</el-col>
														<div v-if="price.category == 2">
															<el-col :span="3" :offset="1">
																<el-form-item label="Edad mínima*" :class="{'error':errorsVee.has('age_min_'+index)}">
																	<el-input
																	v-validate="service.draft == false || userWantsToFinalize == true ? 'required|minAge:'+price.max_age : '' "
																	data-vv-value-path="value"
																	:data-vv-name="'age_min_'+index"
																	data-vv-as="Edad mínima"
																	type="number"
																	v-model.number="price.min_age"
																	@focus=""
																	placeholder="0"
																	:disabled="!price.enabled"
																	:ref="'age_min_'+index"
																	size="small"
																	></el-input>
																	<span v-show="errorsVee.has('age_min_'+index)" class="error-info">${errorsVee.first('age_min_'+index)}
																	</span>
																</el-form-item>
															</el-col>
															<el-col :span="3" :offset="1">
																<el-form-item label="Edad máxima*" :class="{'error':errorsVee.has('age_max_'+index)}">
																	<el-input
																	v-validate="service.draft == false  || userWantsToFinalize == true ? 'required|maxAge:'+price.min_age : '' "
																	data-vv-value-path="value"
																	:data-vv-name="'age_max_'+index"
																	data-vv-as="Edad máxima"
																	type="number"
																	v-model.number="price.max_age"
																	@focus=""
																	placeholder="0"
																	:disabled="!price.enabled"
																	:ref="'age_max_'+index"
																	size="small"
																	></el-input>
																	<span v-show="errorsVee.has('age_max_'+index)" class="error-info">${errorsVee.first('age_max_'+index)}
																		</span>
																</el-form-item>
															</el-col>
														</div>
								    					<div v-if="price.category == 3">
									    					<el-col :span="3" :offset="1" >
								                  				<el-form-item label="Mínimo*" :class="{'error':errorsVee.has('min_'+index)}" >
												    				<el-input
												    					v-validate="{'required': true, 'min_group': price}"
												    					data-vv-value-path="value"
												    					:data-vv-name="'min_'+index"
												    					data-vv-as="Mínimo"
												    					type="number"
												    					v-model.number="price.min_people_group"
												    					@focus="focusGroupField('group_min', 'min_'+index, price.category)"
												    					@change="changeGroupField(price, index)"
												    					placeholder="0"
												    					:disabled="!price.enabled || (groupsConflict['id'] != price.id && groupsConflict['id'] != undefined)"
																			:ref="'min_'+index"
																			size="small"
																			></el-input>
												    				<span v-show="errorsVee.has('min_'+index)" class="error-info">${errorsVee.first('min_'+index)}
                                    								</span>
												  				</el-form-item>
										    				</el-col>
										    				<el-col :span="3" :offset="1">
																 <el-form-item label="Máximo*" :class="{'error':errorsVee.has('max_'+index)}" >
												    				<el-input
																		v-validate="service.draft == false  || userWantsToFinalize == true ? 'required|quantityGroupMinValue:' + price.min_people_group + ',' + price.max_people_group + ',' +
																		'min_'+index + '|quantityGroupMaxValue:' +
												    					price.max_people_group : ''"
												    					data-vv-value-path="value"
												    					:name="'max_'+index"
												    					:data-vv-name="'max_'+index"
												    					data-vv-as="Máximo"
												    					type="number"
												    					v-model.number="price.max_people_group"
												    					@focus="focusGroupField('group_max', 'max_'+index, price.category)"
												    					@change="changeGroupField(price, index)"
												    					placeholder="0"
												    					:disabled="!price.enabled || (groupsConflict['id'] != price.id && groupsConflict['id'] != undefined)"
																			:ref="'max_'+index"
																			size="small"
												    				></el-input>
												    				<span v-show="errorsVee.has('max_'+index)" class="error-info">${errorsVee.first('max_'+index)}</span>
												  				</el-form-item>
										    				</el-col>
										    				<el-col :span="6" :offset="1">
																<el-form-item label="Aplicado*" :class="{'error':errorsVee.has('groupPriceAppliedTo_'+index)}" >
																	<el-select
																		@visible-change="visibleChangeGroup('group_applied_to', price, index)"
																		v-validate="service.draft == false  || userWantsToFinalize == true ? 'required' : ''"
																		data-vv-value-path="value"
																		data-vv-as="Aplicado"
																		:name="'groupPriceAppliedTo_'+index"
																		:data-vv-name="'groupPriceAppliedTo_'+index"
																		class="exclude-error"
																		:disabled="!price.enabled"
																		v-model.number="price.groupPriceAppliedTo"
																		placeholder="Select"
																		size="small"
																	>
																    	<el-option :value="1" label="Por persona"></el-option>
																      <el-option :value="2" label="Por grupo"></el-option>
				 													 </el-select>
				 													<span v-show="errorsVee.has('groupPriceAppliedTo_'+index)" class="error-info">${errorsVee.first('groupPriceAppliedTo_'+index)}</span>
												  				</el-form-item>
										    				</el-col>
										    				<el-col :span="1" class="group-plus-button">
										    					<el-popover placement="right-start" title="" width="200" trigger="hover" content="Haz clic aquí para agregar más grupos" :open-delay="1000" >
										    						<el-button slot="reference" @click="addPrice()" :disabled="!price.enabled || groupsConflict['id'] != undefined" class="plus-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></el-button>
										    					</el-popover>
										    				</el-col>
										    			</div>
										    			<el-col :span='23' :offset="1" v-if="groupsConflict['id'] == price.id">
								    						<p :class="error-info">Éste grupo hace conflicto, por favor corregir.</p>
								    					</el-col>
								    				</el-row>
								    				<el-row v-for="priceGroup,indexGroup in service.prices"
													:class="{'price-disabled' : !price.enabled, 'price-hover':true}" v-if="price.category == 3 && priceGroup.default == false && price.default == true">
                              								<el-col :span="3"  :offset="5" :class="{'group-price': true, 'error':errorsVee.has('price_'+index+'-'+indexGroup)}">
															<el-input
																v-validate="service.draft == false  || userWantsToFinalize == true ? 'required' : ''"
																data-vv-value-path="value"
																:name="'price_'+index+'-'+indexGroup"
																:data-vv-name="'price_'+index+'-'+indexGroup"
																data-vv-as="Precio"
																type="number"
																v-model.number="priceGroup.price"
																@change="changeGroupField(priceGroup, indexGroup)"
																@focus="focusGroupField('group_price', 'price_'+index+'-'+indexGroup, price.category)"
																placeholder="0.00"
																min="0.01"
																step="0.01"
																:disabled="!priceGroup.enabled"
																:ref="'price_'+index+'-'+indexGroup"
																size="small"
															></el-input>
															<span v-show="errorsVee.has('price_'+index+'-'+indexGroup)" class="error-info">${errorsVee.first('price_'+index+'-'+indexGroup)}</span>
									    				</el-col>
								    					<el-col :span="3" :offset="1" >
															<el-form-item label="Mínimo*" :class="{'error':errorsVee.has('min_'+indexGroup)}" >
												    			<el-input v-validate="{'required': service.draft == false  || userWantsToFinalize == true, 'min_group': priceGroup}"
																data-vv-value-path="value"
																:name="'min_'+indexGroup"
																:data-vv-name="'min_'+indexGroup"
																data-vv-as="Mínimo"
																type="number"
																v-model.number="priceGroup.min_people_group"
																@focus="focusGroupField('group_min', 'min_'+index+'-'+indexGroup, price.category)"
																@change="changeGroupField(priceGroup, indexGroup)"
																placeholder="0"
																:disabled="!priceGroup.enabled || (groupsConflict['id'] != priceGroup.id && groupsConflict['id'] != undefined) "
																:ref="'min_'+index+'-'+indexGroup"
																size="small"
												    			></el-input>
												    			<span v-show="errorsVee.has('min_'+indexGroup)" class="error-info">${errorsVee.first('min_'+indexGroup)}</span>
												  			</el-form-item>
										    			</el-col>
									    				<el-col :span="3" :offset="1">
															<el-form-item label="Máximo*" :class="{'error':errorsVee.has('max_'+indexGroup)}" >
											    				<el-input
											    					v-validate="service.draft == false  || userWantsToFinalize == true ? 'required|quantityGroupMinValue:' + priceGroup.min_people_group + ',' + priceGroup.max_people_group +'|quantityGroupMaxValue:' +
											    					priceGroup.max_people_group: ''"
											    					data-vv-value-path="value"
											    					:name="'max_'+indexGroup"
											    					:data-vv-name="'max_'+indexGroup"
											    					data-vv-as="Máximo"
											    					type="number"
											    					v-model.number="priceGroup.max_people_group"
											    					@focus="focusGroupField('group_max', 'max_'+index+'-'+indexGroup, price.category)"
											    					@change="changeGroupField(priceGroup, indexGroup)"
											    					placeholder="0"
											    					:disabled="!priceGroup.enabled  || (groupsConflict['id'] != priceGroup.id && groupsConflict['id'] != undefined)"
																	:ref="'max_'+index+'-'+indexGroup"
																	size="small"
											    				></el-input>
											    				<span v-show="errorsVee.has('max_'+indexGroup)" class="error-info">${errorsVee.first('max_'+indexGroup)}</span>
											  				</el-form-item>
									    				</el-col>
									    				<el-col :span="6" :offset="1">
															<el-form-item label="Aplicado*">
																<el-select
																	@visible-change="visibleChangeGroup('group_applied_to', priceGroup, indexGroup)"
																	v-validate="service.draft == false  || userWantsToFinalize == true ? 'required' : ''"
																	data-vv-value-path="value"
																	:name="'groupPriceAppliedTo_'+index+'-'+indexGroup"
																	:data-vv-name="'groupPriceAppliedTo_'+index+'-'+indexGroup"
																	data-vv-as="Aplicado"
																	class="exclude-error"
																	:disabled="!priceGroup.enabled"
																	v-model.number="priceGroup.groupPriceAppliedTo"
																	placeholder="Select"
																	size="small"
																>
															    	<el-option :value="1" label="Por persona"></el-option>
															      	<el-option :value="2" label="Por grupo"></el-option>
			 													 </el-select>
											  				</el-form-item>
									    				</el-col>
									    				<el-col :span="1" class="group-trash">
									    					<el-popover placement="right-start" title="" width="200" trigger="hover" content="Haz clic aquí para eliminar este grupo" :open-delay="1000" :disabled="!price.enabled ||(groupsConflict['id'] != priceGroup.id && groupsConflict['id'] != undefined)">
										    					<span slot="reference" @click="removePrice(indexGroup,price.enabled,priceGroup.id)" :class="{'delete-disabled': !price.enabled || (groupsConflict['id'] != priceGroup.id && groupsConflict['id'] != undefined)}"><i aria-hidden="true" :class="{'fas':true,'fa-trash-alt':true }" ></i></span>
										    				</el-popover>
									    				</el-col>
									    				<el-col :span='23' :offset="1" v-if="groupsConflict['id'] == priceGroup.id">
								    						<p :class="{'error-info': priceGroup.enabled, 'error-info-disabled': !priceGroup.enabled }">Este grupo contiene valores en el rango de otro grupo.<br>Ejemplo:<br>Rango del grupo 1: mínimo 1 y máximo 4<br>Rango del grupo 2: mínimo 5 y máximo 8<br>Rango del grupo 3: mínimo 9 y máximo 12<br></p>
								    					</el-col>
								    				</el-row>
								    			</div>
								    		</el-col>
								    		<el-col :span="24">
								    			<span class="error-info">${errorPrice}</span>
								    			<!-- <span v-show="errorsVee.has('prices')" class="error-info">${errorsVee.first('prices')}</span> -->
								    		</el-col>
								    	</el-row>
								    </div>
				  				</el-form>

							</div>
							<!-- STEP 3 -->
							<div v-show="step == 3" key="step3" class="container-step step-3">
								<el-row >
									<el-col >
										<h3 class="paragraph">Ingresa la disponibilidad de tu servicio</h3>
									</el-col>
								</el-row>

								<el-form :label-position="'top'">
									<div :class="{'background-white': true}"
									  class="hasMouseOver"
									  data-help-over="schedule"
									  data-help-out="step3"
										>
										<el-row>
											<el-col :span="24">
									    		<h3 class="title-schedule">Horarios de salida</h3>
									    		<h5 class="description-schedule">Haz click en los botones con símbolo de <el-button class="plus-button-text"><i class="fa fa-plus-circle" aria-hidden="true"></i></el-button> para agregar un nuevo horario de salida</h5>
								    		</el-col>
								    	</el-row>

										<el-row class="schedule-copy" v-if="service.schedule.length != 0">
											<div  class="day text-center">
					  							<el-row>
													<el-select style="width:90%;" class="exclude-error" placeholder="Copiar" @change="setHoursRepeat(1)" v-model.number="dayRepeatId[0]" no-data-text="Sin dias"
													size="small">
									    				<el-option v-for="item in scheduleRepeat(1)"  :key="item.id" :label="item.name" :value="item.id">
									    				</el-option>
						  							</el-select>
					  							</el-row>
											</div>
											<div class="day text-center">
					  							<el-row>
													<el-select style="width:90%;" class="exclude-error" placeholder="Copiar" @change="setHoursRepeat(2)" v-model.number="dayRepeatId[1]" :disabled="service.schedule.length == 0" no-data-text="Sin dias"
													size="small">
									    				<el-option v-for="item in scheduleRepeat(2)"  :key="item.id" :label="item.name" :value="item.id">
									    				</el-option>
						  							</el-select>
					  							</el-row>
											</div>
											<div class="day text-center">
					  							<el-row>
													<el-select style="width:90%;" class="exclude-error" placeholder="Copiar" @change="setHoursRepeat(3)" v-model.number="dayRepeatId[2]" :disabled="service.schedule.length == 0" no-data-text="Sin dias"
													size="small">
									    				<el-option v-for="item in scheduleRepeat(3)"  :key="item.id" :label="item.name" :value="item.id">
									    				</el-option>
						  							</el-select>
					  							</el-row>
											</div>
											<div class="day text-center">
					  							<el-row>
													<el-select style="width:90%;" class="exclude-error" placeholder="Copiar" @change="setHoursRepeat(4)" v-model.number="dayRepeatId[3]" :disabled="service.schedule.length == 0" no-data-text="Sin dias"
													size="small">
									    				<el-option v-for="item in scheduleRepeat(4)"  :key="item.id" :label="item.name" :value="item.id">
									    				</el-option>
						  							</el-select>
					  							</el-row>
											</div>
											<div class="day text-center">
					  							<el-row>
													<el-select style="width:90%;" class="exclude-error" placeholder="Copiar" @change="setHoursRepeat(5)" v-model.number="dayRepeatId[4]" :disabled="service.schedule.length == 0" no-data-text="Sin dias"
													size="small">
									    				<el-option v-for="item in scheduleRepeat(5)"  :key="item.id" :label="item.name" :value="item.id">
									    				</el-option>
						  							</el-select>
					  							</el-row>
											</div>
											<div class="day text-center">
					  							<el-row>
													<el-select style="width:90%;" class="exclude-error" placeholder="Copiar" @change="setHoursRepeat(6)" v-model.number="dayRepeatId[5]" :disabled="service.schedule.length == 0" no-data-text="Sin dias"
													size="small">
									    				<el-option v-for="item in scheduleRepeat(6)"  :key="item.id" :label="item.name" :value="item.id">
									    				</el-option>
						  							</el-select>
					  							</el-row>
											</div>
											<div class="day text-center">
					  							<el-row>
													<el-select style="width:90%;" class="exclude-error" placeholder="Copiar" @change="setHoursRepeat(7)" v-model.number="dayRepeatId[6]" :disabled="service.schedule.length == 0" no-data-text="Sin dias"
													size="small">
									    				<el-option v-for="item in scheduleRepeat(7)"  :key="item.id" :label="item.name" :value="item.id">
									    				</el-option>
						  							</el-select>
					  							</el-row>
											</div>
										</el-row>
										<el-row class="schedule">
											<div  class="day text-center">
												<el-row class="title">Lunes</el-row>
												<el-row>
													<el-button @click="addHour(1)" class="plus-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></el-button>
												</el-row>
												<el-row v-for="hour, index in service.schedule" v-if="hour.day == 1" class="hour-row" :key="index">
													<span @click="removeHour(index)"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
													<el-time-picker
														:ref="'lunes-' + index"
														@focus="onOpenTimeSelector('lunes-' + index)"
														format="HH:mm"
														v-model="service.schedule[index].hour"
														placeholder="Hora"
														size="small"
														:editable='false'
														size="small">
					  								</el-time-picker>
					  							</el-row>
											</div>
											<div class="day text-center">
												<el-row class="title">Martes</el-row>
												<el-row>
													<el-button @click="addHour(2)" class="plus-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></el-button>
												</el-row>
												<el-row v-for="hour, index in service.schedule" v-if="hour.day == 2" class="hour-row" :key="index">
													<span @click="removeHour(index)"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
													<el-time-picker
														:ref="'martes-' + index"
														@focus="onOpenTimeSelector('martes-' + index)"
														format="HH:mm"
														v-model="service.schedule[index].hour"
														placeholder="Hora"
														size="small"
														:editable='false'
														size="small">
					  								</el-time-picker>
					  							</el-row>
											</div>
											<div class="day text-center">
												<el-row class="title">Miércoles</el-row>
												<el-row>
													<el-button @click="addHour(3)" class="plus-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></el-button>
												</el-row>
												<el-row v-for="hour, index in service.schedule" v-if="hour.day == 3" class="hour-row" :key="index">
													<span @click="removeHour(index)"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
													<el-time-picker
														:ref="'miercoles-' + index"
														@focus="onOpenTimeSelector('miercoles-' + index)"
														format="HH:mm"
														v-model="service.schedule[index].hour"
														placeholder="Hora"
														size="small"
														:editable='false'
														size="small">
					  								</el-time-picker>
					  							</el-row>
											</div>
											<div class="day text-center">
												<el-row class="title">Jueves</el-row>
												<el-row>
													<el-button @click="addHour(4)" class="plus-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></el-button>
												</el-row>
												<el-row v-for="hour, index in service.schedule" v-if="hour.day == 4" class="hour-row" :key="index">
													<span @click="removeHour(index)"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
													<el-time-picker
														:ref="'jueves-' + index"
														@focus="onOpenTimeSelector('jueves-' + index)"
														format="HH:mm"
														v-model="service.schedule[index].hour"
														placeholder="Hora"
														size="small"
														:editable='false'>
					  								</el-time-picker>
					  							</el-row>
											</div>
											<div class="day text-center">
												<el-row class="title">Viernes</el-row>
												<el-row>
													<el-button @click="addHour(5)" class="plus-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></el-button>
												</el-row>
												<el-row v-for="hour, index in service.schedule" v-if="hour.day == 5" class="hour-row" :key="index">
													<span @click="removeHour(index)"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
													<el-time-picker
														:ref="'viernes-' + index"
														@focus="onOpenTimeSelector('viernes-' + index)"
														format="HH:mm"
														v-model="service.schedule[index].hour"
														placeholder="Hora"
														size="small"
														:editable='false'>
					  								</el-time-picker>
					  							</el-row>
											</div>
											<div class="day text-center">
												<el-row class="title">Sábado</el-row>
												<el-row>
													<el-button @click="addHour(6)" class="plus-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></el-button>
												</el-row>
												<el-row v-for="hour, index in service.schedule" v-if="hour.day == 6" class="hour-row" :key="index">
													<span @click="removeHour(index)"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
													<el-time-picker
														:ref="'sabado-' + index"
														@focus="onOpenTimeSelector('sabado-' + index)"
														format="HH:mm"
														v-model="service.schedule[index].hour"
														placeholder="Hora"
														size="small"
														:editable='false'>
					  								</el-time-picker>
					  							</el-row>
											</div>
											<div class="day text-center">
												<el-row class="title">Domingo</el-row>
												<el-row>
													<el-button @click="addHour(7)" class="plus-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></el-button>
												</el-row>
												<el-row v-for="hour, index in service.schedule" v-if="hour.day == 7" class="hour-row" :key="index">
													<span @click="removeHour(index)"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
													<el-time-picker
														:ref="'miercoles-' + index"
														@focus="onOpenTimeSelector('miercoles-' + index)"
														format="HH:mm"
														v-model="service.schedule[index].hour"
														placeholder="Hora"
														size="small"
														:editable='false'>
					  								</el-time-picker>
					  							</el-row>
											</div>
										</el-row>

									</div>
									<div :class="{'background-white': true}">
										<el-row>
											<h3>Vigencia del servicio</h3>
										</el-row>
										<el-row>
											<el-col :span="5" >
						  						<div class="block">
										    		<el-form-item label="Desde" :class="{'error':errorsVee.has('since')}">
														<el-popover :disabled="service.schedule.length > 0" placement="left-start" title="" width="200" trigger="hover" content="Para seleccionar la fecha debe agregar al menos un horario">
															<el-date-picker
																size='small'
							    								v-model="service.since"
							    								type="date"
							    								placeholder="Fecha inicial"
							    								data-vv-as="Desde"
							    								v-validate="service.draft == false  || userWantsToFinalize == true ? 'required': ''"
							    								data-vv-value-path="value"
							    								name="since"
                                  								ref="since"
							    								data-vv-name="since"
							    								:disabled="service.schedule.length == 0"
      															@focus="onOpenDateValidtySelector('since')"
							    								@change="validateDateInExcludeDates(true)"
							    								:picker-options="getServiceDateOptions(true,false)"
							    								slot="reference"
							    							>
							    							</el-date-picker>
						    							</el-popover>
								    					<span v-show="errorsVee.has('since')" class="error-info">${errorsVee.first('since')}</span>
					    							</el-form-item>
					  							</div>
								    		</el-col>
								    		<el-col :span="5" :offset="2">
								    			<div class="block">
										    		<el-form-item label="Hasta" :class="{'error':errorsVee.has('until')}">
										    			<el-popover :disabled="service.schedule.length > 0" placement="right-start" title="" width="200" trigger="hover" content="Para seleccionar la fecha debe agregar al menos un horario">
															<el-date-picker
																size="small"
								    							v-model="service.until"
								    							type="date"
								    							placeholder="Fecha final"
								    							data-vv-as="Hasta"
								    							v-validate="service.draft == false  || userWantsToFinalize == true ? 'required': ''"
								    							data-vv-value-path="value"
								    							name="until"
								    							data-vv-name="until"
																	ref="until"
								    							:disabled="service.schedule.length == 0"
      														@focus="onOpenDateValidtySelector('until')"
								    							@change="validateDateInExcludeDates(false)"
							    								:picker-options="getServiceDateOptions(false,false)"
							    								slot="reference"
							    							>
							    							</el-date-picker>
							    						</el-popover>
								    					<span v-show="errorsVee.has('until')" class="error-info">${errorsVee.first('until')}</span>
						    						</el-form-item>
						  						</div>
								    		</el-col>
										</el-row>
									</div>
                  <div :class="{'background-white': true}">
                    <el-row>
                      <h3>Duración del servicio</h3>
                    </el-row>
                    <el-row :gutter="20">
                     <el-col :span="4">
                       <el-form-item label="Tiempo de duración*" :class="{'error':errorsVee.has('duration')}">	
                           <el-input-number v-model="service.duration" @focus="setHelp('duration')" placeholder="Duración" data-vv-as="Duración" v-validate="service.draft == false  || userWantsToFinalize == true ? 'required': ''" data-vv-value-path="value" name="duration" data-vv-name="duration" size="small" type="number" :min="1" :max="1000"></el-input-number>
                           <span v-show="errorsVee.has('duration')" class="error-info">${errorsVee.first('duration')}</span>
                         </el-form-item>
					 </el-col>
					 <el-col :span="4">
						<el-form-item label="Unidades de duración*" :class="{'error':errorsVee.has('durationUnits')}">
							<el-select v-model="service.durationUnits" size="small" v-validate="'required'" data-vv-name="durationUnits" data-vv-as="Unidades de Duración" data-vv-value-path="value">
								<el-option value="MINUTOS" :label="'Minutos'"></el-option>
								<el-option value="HORAS" :label="'Horas'"></el-option>
								<el-option value="DÍAS" :label="'Días'"></el-option>
							</el-select>
							<span v-show="errorsVee.has('durationUnits')" class="error-info">${errorsVee.first('durationUnits')}</span>
						</el-form-item>
					 </el-col>
                   </el-row>
                 </div>
									<div :class="{'background-white': true}">
										<el-row>
											<el-col >
												<h3 class="paragraph">Fechas excluidas</h3>
											</el-col>
										</el-row>
										<el-row>
											<el-col>
												<el-popover :disabled="!(service.since.length == 0 || service.until.length == 0)" placement="right-start" title="" width="200" trigger="hover" content="Para agregar fechas excluidas debes definir la vigencia del servicio">
									    		<span slot="reference">Haz click en el icono para agregar
									    			<el-button @mouseover.native="setHelp('excluded_date')"
												    @click="addExcludedDate" class="plus-button" :disabled="(service.since.length == 0 || service.until.length == 0)">
												    	<i class="fa fa-plus-circle" aria-hidden="true"></i>
												    </el-button>
											    </span>
											    </el-popover>
								    		</el-col>
								    	</el-row>
								    	<el-row class="exclude-date" v-for="hour,index in service.excludedDates" :key="index">
								    		<el-col :span="1">
								    			<span @click="deleteExcludedDate(index)" class="delete"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
								    		</el-col>
								    		<el-col :span="10">
								    			<el-date-picker

								    				:v-validate="'required'"
								    				data-vv-value-path="value"
								    				:name="'excluded_date' + index" :data-vv-name="'excluded_date' + index"
								    				v-model="service.excludedDates[index].date"
								    				type="daterange"
														:ref="'excluded' + index"
								    				placeholder="Rango de fechas"
								    				@focus="onOpenDateExcludedSelector('excluded' + index)"
								    				:picker-options="getServiceDateOptions(false,true)"
								    			>
					    						</el-date-picker>

								    		</el-col>
								    		<el-col class="repeat-excluded-date" :span="4">
								    			<el-checkbox v-model="service.excludedDates[index].repeated">Repetir todos los años</el-checkbox>
								    		</el-col>
								    	</el-row>
								    </div>
                    <div :class="{'background-white': true}">
  										<el-row>
  											<h3>Visibilidad</h3>
  										</el-row>
  										<el-row>
  											<el-form-item label="Servicio Habilitado*">
  												<el-switch v-model="service.published" on-color="#13ce66" off-color="#ff4949" :on-value="true" :off-value="false" on-text="Sí" off-text="No"  @mouseover.native="setHelp('published')">
  						  						</el-switch>

  					    					</el-form-item>
  										</el-row>
									 </div>
								</el-form>
							</div>

							<span v-if="showHelp === false" @click="showHelp = !showHelp" class="help_showhide_btn help_show">
				        <i class="fas fa-question-circle" aria-hidden="true"></i>
				      </span>

							<!-- FILA ESTATICA DE LOS BOTONES  -->
							<el-row class="bottom">
								<el-col :span="4"  v-if="step > 1">
									<el-button type="success" @click="prevStep">Regresar</el-button>
								</el-col>
								<el-col  :span="step > 1 ? 20 : 24 " >
									<el-row type="flex" justify="end">
										<div id="saving-message">${savingMessage}</div>
										<el-button type="danger" @click="deleteService">Eliminar</el-button>

										<el-button :disabled="nextButtonDisabled" class="btn-sgte" v-if="step < 3" @click="nextStep" type="success">Siguiente</el-button>
										<el-button class="btn-sgte" v-if="step == 3 && service.draft" @click="validateBeforeSubmit" :loading="savingService" type="success">Finalizar</el-button>
										<el-button class="btn-sgte" v-if="step == 3 && !service.draft" @click="validateBeforeSubmit" :loading="savingService" type="success">Guardar</el-button>
									</el-row>
								</el-col>
							</el-row>

						</el-col>
					</el-row>
				</el-col>
			</el-row>
		</el-col>
		<!-- COLUMNA AYUDA -->
		<el-col :offset="calculateOffset" v-if="step > 1" :span="showHelp == true ? 5 : 0" :class="{'help-section':true,'help-hidden': !showHelp}" :style="{'height': dynamicHeightHelp}">
		  <el-row style="margin:20px">
				<h3 class="paragraph text-center">Ayuda</h3>
				<div v-html="helpInfo"></div>
			</el-row>
      <span @click="showHelp = !showHelp" class="help_showhide_btn help_hide">
        <i v-if="showHelp" class="fas fa-angle-double-right" aria-hidden="true"></i>
        <i v-else class="fas fa-angle-double-left" aria-hidden="true"></i>
	  </span>
	  </el-col>
  <el-dialog
	  title="Confirmación"
	  :visible.sync="deleteConfirmDialog"
	  size="tiny">
	  <span>¿Estás seguro que deseas eliminar este servicio?</span>
	  <span slot="footer" class="dialog-footer">
	    <el-button @click="deleteConfirmDialog = false">Cancelar</el-button>
	    <el-button type="danger" :loading="deletingService" @click="confirmDelete">Confirmar</el-button>
	  </span>
	</el-dialog>
</div>

<script>
	var saveServiceUrl = "{% url 'admin:save_service' %}"
	var imageServiceUrl = "{% url 'admin:image_service' %}"
	var deleteImageServiceUrl = "{% url 'admin:delete_image_service' %}"
	var deleteServiceUrl = "{% url 'admin:delete_service' %}"
	var changelistServiceUrl = "{% url 'admin:servicios_service_changelist' %}"
	var currencies = {% autoescape off %}{{currencies}}{% endautoescape off %}
	var fieldsHelpList = {% autoescape off %}{{fields_help}}{% endautoescape off %}
	var serviceId = {% autoescape off %}{{service_id}}{% endautoescape off %}
	var service = {% autoescape off %}{{service}}{% endautoescape off %}
	var service_prices = {% autoescape off %}{{service_prices}}{% endautoescape off %}
	var service_schedule = {% autoescape off %}{{service_schedule}}{% endautoescape off %}
	var service_excluded_dates = {% autoescape off %}{{service_excluded_dates}}{% endautoescape off %}
	var service_images = {% autoescape off %}{{service_images}}{% endautoescape off %}
	var is_editing = {% autoescape off %}{{is_editing}}{% endautoescape off %}
	var today = "{% autoescape off %}{{today}}{% endautoescape off %}"
	var userName = "{% autoescape off %}{{user_name}}{% endautoescape off %}"
	var dismissSaving = false
	var categories = {% autoescape off %}{{categories}}{% endautoescape off %}
	var timeOutSave = 0
</script>
<!-- <script src="{% static 'js/vue.min.js' %}"></script> -->
<script src="{% static 'js/noty.min.js' %}"></script>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="{% static 'js/polyfill.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<!-- <script src="{% static 'admin/js/element2.js' %}"></script> -->
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
<!-- <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script> -->
<script src="{% static 'admin/js/lodash.min.js' %}"></script>
<script src="{% static 'admin/js/vueWysiwyg.js' %}"></script>
<script src="{% static 'admin/js/jquery.js' %}"></script>
<script src="{% static 'admin/js/vue-quill-editor.min.js' %}"></script>
<script src="{% static 'admin/js/vue2-dropzone.js' %}"></script>
<script src="{% static 'admin/js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'admin/js/cropper.min.js' %}"></script>
<!-- <script src="{% static 'admin/js/vee-validate.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
<!-- <script src="{% static 'admin/js/vee-validate.es.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vee-validate@2.0.6/dist/locale/es.js"></script>
<script src="{% static 'admin/js/uuidv1.js' %}"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- <script src="//unpkg.com/element-ui/lib/umd/locale/es.js"></script> -->
<script src="https://unpkg.com/element-ui/lib/umd/locale/es.js"></script>
<!-- <script src="{% static 'admin/js/element.es.js' %}"></script> -->
<script src="{% static 'js/service.js' %}"></script>
{% endblock %}
