{% load static %}
<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-vue.css' %}"/>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="{% static 'css/noty.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>
<div id="agent">
    <b-container id="container">
        <b-row  class="justify-content-sm-center mt-2">
            <b-col sm="12" md="10">
                <b-jumbotron class="register-box">
                    <b-row>
                        <b-col sm="12" class="text-center">
                            <img class="logo" src="{% static 'img/logo.png' %}">
                        </b-col>
                    </b-row>
                    <b-row class="mt-1" v-if="step < 4">
                        <b-col class="text-center">
                            <h3 class="form-step-title">REGISTRO DE AGENTE</h3>
                        </b-col>
                    </b-row>
                    <b-row class="steps-row" v-if="step < 4">
                        <b-col></b-col>
                        <b-col sm="6">
                            <div class="dotsandlines">
                                <div class="circle-contain"><div :class="{'circle': true, 'active':step > 1}">1</div></div>
                                <div class="line"></div>
                                <div class="circle-contain"><div :class="{'circle': true, 'active':step > 2}">2</div></div>
                                <div class="line"></div>
                                <div class="circle-contain"><div :class="{'circle': true, 'active':step > 3}">3</div></div>
                            </div>
                        </b-col>
                        <b-col></b-col>
                    </b-row>

                    <transition name="fade" mode="out-in">

                        <div v-if="step == 1" key="step1" class="step-1">
                          <b-row class="mt-5">
                            <b-col sm="12" md="12" class="text-center">
                                <h4 class="form-step-description">Elige una opción</h4>
                            </b-col>
                            <b-col md="3">
                            </b-col>
                            <b-col class="mt-4 text-center" md="6">
                                <b-button :pressed="activeButton == 'company'" @click="clickCompany" class="btn-big form-button-green" size="lg" variant="outline-secondary">Soy una empresa</b-button>
                            </b-col>
                            <b-col md="3">
                            </b-col>

                            <b-col md="3">
                            </b-col>
                            <b-col class="mt-4 text-center" md="6">
                                <b-button :pressed="activeButton == 'person'" @click="clickPerson" class="btn-big form-button-green" size="lg" variant="outline-secondary">Soy una persona natural</b-button>
                            </b-col>
                            <b-col md="3">
                            </b-col>
                            <b-col md="3">
                            </b-col>
                            <b-col md="6" offset="4" class="mt-4 text-center" v-if="typeOfUserError">
                                <b-alert variant="danger" show>Si no estás seguro cúal eres, puedes ver la diferencia poniendo el mouse sobre el texto <b>¿Cúal es la diferencia?</b></b-alert>
                            </b-col>
                            <b-col md="12" class="mt-3">
                                <b-popover target="btn-difference"
                                           placement="top"
                                           title="¿Cuál es la diferencia?"
                                           triggers="hover">
                                    <div>
                                        <b>Empresa</b> Puede ser una agencia de viajes, operador, hotel, organización y similares. Normalmente cuentan con RUC y pueden emitir factura.
                                    </div>
                                    <hr>
                                    <div>
                                        <b>Persona Natural</b> No emite factura solo recibo por honorarios.
                                    </div>
                                </b-popover>
                                <b-col class="text-center">
                                    <b-button id="btn-difference" class="btn-link form-button-green" size="sm" variant="link">¿Cúal es la diferencia?</b-button>
                                </b-col>
                            </b-col>
                          </b-row>
                        </div>

                        <div v-if="step == 2" class="step-2 mt-5" key="step2">
                          <div v-if="form.toggleAgent == 1">
                            <b-row>
                              <b-col>
                                  <h4 class="form-step-description">Datos de la Empresa</h4>
                              </b-col>
                            </b-row>
                            <b-form>
                              <b-row class="mt-2">
                                <b-col xs="12" md="6">
                                  <b-form-group label="Nombre de tu Empresa *">

                                      <b-form-input :state="errorsVee.has('companyName') == true ? false : null" v-validate="'required'" v-model="form.companyName" name="companyName" placeholder=""></b-form-input>
                                      <b-form-feedback id="input-feedback">
                                        Debe ingresar un nombre de empresa válido
                                      </b-form-feedback>
                                  </b-form-group>
                                </b-col>
                                <b-col xs="12" md="6">
                                  <b-form-group label="Tu sitio web">
                                      <b-form-input :state="errorsVee.has('companyWebUrl') == true ? false : null" v-validate="'url'" v-model="form.companyWebUrl" name="companyWebUrl" placeholder=""></b-form-input>
                                      <b-form-feedback id="input-feedback">
                                        Debe ingresar una sitio web válido
                                      </b-form-feedback>
                                  </b-form-group>
                                </b-col>
                              </b-row>
                              <b-row class="mt-2">
                                <b-col xs="12" md="6">
                                  <b-form-group label="Teléfono">
                                      <b-form-input :state="errorsVee.has('companyPhone') == true ? false : null" v-validate="'numeric'"v-model="form.companyPhone" name="companyPhone" placeholder=""></b-form-input>
                                      <b-form-feedback id="input-feedback">
                                        Debe ingresar un teléfono válido
                                      </b-form-feedback>
                                  </b-form-group>
                                </b-col>
                                <b-col xs="12" md="6">
                                  <b-form-group label="Correo">
                                      <b-form-input :state="errorsVee.has('companyEmail') == true ? false : null" v-validate="'email'"v-model="form.companyEmail" name="companyEmail" placeholder=""></b-form-input>
                                      <b-form-feedback id="input-feedback">
                                        Debe ingresar un correo válido
                                      </b-form-feedback>
                                  </b-form-group>
                                </b-col>
                              </b-row>
                              <b-row class="mt-2">
                                <b-col xs="12" md="6">
                                  <b-form-group label="Dirección">
                                      <b-form-input type="text" v-model="form.companyAddress" name="companyAddress" required placeholder=""></b-form-input>
                                  </b-form-group>
                                </b-col>
                                <b-col xs="12" md="6">
                                  <b-form-group label="RUC">
                                      <b-form-input :state="errorsVee.has('companyRuc') == true ? false : null" v-validate="'numeric'"v-model="form.companyRuc" name="companyRuc" placeholder=""></b-form-input>
                                      <b-form-feedback id="input-feedback">
                                        Debe ingresar un RUC válido
                                      </b-form-feedback>
                                  </b-form-group>
                                </b-col>
                              </b-row>
                              <b-row class="mt-2">
                                <b-col xs="12" md="6">
                                  <b-form-group label="País">
                                    <b-form-select v-model="form.companyCountry" :options="countries" class="mb-3">
                                    </b-form-select>
                                  </b-form-group>
                                </b-col>
                                <b-col xs="12" md="6">
                                  <b-form-group label="Ciudad">
                                    <div v-if="loadingCountries">
                                      <b-row>
                                          <b-col>
                                              <beat-loader :loading="true" color="#0b448f" size="15px"></beat-loader>
                                          </b-col>
                                      </b-row>
                                    </div>
                                    <div v-else>
                                      <b-form-select v-if="cities.length > 1 || form.companyCountry == 0 " v-model="form.companyCity" :options="cities" class="mb-3" :disabled="form.companyCountry == 0">
                                      </b-form-select>
                                      <b-form-input v-if="(cities.length == 1 && form.companyCountry != 0)" type="text" v-model="form.companyCity" name="companyCity" placeholder="Ingresa la ciudad"></b-form-input>
                                    </div>

                                  </b-form-group>
                                </b-col>
                              </b-row>
                            </b-form>
                          </div>
                          <b-row>
                            <b-col>
                                <h4 class="form-step-description">Datos Personales</h4>
                            </b-col>
                          </b-row>
                          <b-form>
                            <b-row class="mt-2">
                              <b-col xs="12" md="6">
                                <b-form-group label="Nombres*">
                                    <b-form-input :state="errorsVee.has('name') == true ? false : null" v-validate="'required'" v-model="form.name" name="name" placeholder=""></b-form-input>
                                    <b-form-feedback id="input-feedback">
                                      Debe ingresar un nombre válido
                                    </b-form-feedback>
                                </b-form-group>
                              </b-col>
                              <b-col xs="12" md="6">
                                <b-form-group label="Apellidos*">
                                    <b-form-input :state="errorsVee.has('lastName') == true ? false : null" v-validate="'required'" v-model="form.lastName" name="lastName" placeholder=""></b-form-input>
                                    <b-form-feedback id="input-feedback">
                                      Debe ingresar apellidos válidos
                                    </b-form-feedback>
                                </b-form-group>
                              </b-col>
                            </b-row>
                            <b-row class="mt-2">
                              <b-col xs="12" md="6">
                                <b-form-group label="Correo*">
                                    <b-form-input :state="errorsVee.has('email') == true ? false : null" v-validate="'required|email'"v-model="form.email" name="email" placeholder="" :readonly="true"></b-form-input>
                                    <b-form-feedback id="input-feedback">
                                      Debe ingresar un correo válido
                                    </b-form-feedback>
                                </b-form-group>
                              </b-col>
                              <b-col xs="12" md="6">
                                <b-form-group label="Contraseña*">
                                    <b-form-input :state="errorsVee.has('password') == true ? false : null" v-validate="'required'"v-model="form.password" name="password" placeholder="" type="password"></b-form-input>
                                    <b-form-feedback id="input-feedback">
                                      Debe ingresar una contraseña
                                    </b-form-feedback>
                                </b-form-group>
                              </b-col>
                            </b-row>
                          </b-form>
                          <b-row>
                            <b-col>
                                <h4 class="form-step-description">Logo</h4>
                            </b-col>
                          </b-row>
                          <b-row class="mt-2">
                            <b-col xs="12" md="6">
                              <b-form-group label="Imagen*">
                                <el-upload
                                  :class="{'avatar-uploader': true, 'disabled-avatar': imageUrl.length != 0}"
                                  :multiple='false'
                                  :show-file-list="false"
                                  :on-change="handleAvatarPreview"
                                  accept="image/*"
                                  :auto-upload='false'
                                  :disabled='imageUrl.length != 0'>
                                  <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                              </b-form-group>
                              <el-button type="text" v-if="imageUrl" class="removeLogo" @click="removeLogo">Quitar logo</el-button>
                            </b-col>
                          </b-row>
                          <b-row class="mt-4" v-if="validatingEmail">
                              <b-col>
                                  <beat-loader :loading="true" color="#0b448f" size="15px"></beat-loader>
                              </b-col>
                          </b-row>
                          <b-row class="mt-4" v-if="savingError">
                              <b-col class="text-center">
                                  <b-alert show variant="danger">Disculpa pero parece que este correo ya está registrado. Si te parece raro, por favor contacta a info@exploor.pe.</b-alert>
                              </b-col>
                          </b-row>
                        </div>

                        <div v-if="step == 3" key="step3" class="mt-5">
                          <b-row>
                            <b-col>
                                <h4 class="form-step-description">Datos de Pasarela de Pago Culqi (OPCIONAL)</h4>
                            </b-col>
                          </b-row>
                          <b-form>
                            <b-row class="mt-2">
                              <b-col xs="12" md="12">
                                <b-form-group label="LLave Pública">
                                    <b-form-input :state="errorsVee.has('publicKey') == true ? false : null" v-validate="''" v-model="form.publicKey" name="publicKey" data-vv-name='publicKey' data-vv-value-path="input" placeholder=""></b-form-input>
                                    <b-form-feedback id="input-feedback">
                                      Debe ingresar una llave pública válido.
                                    </b-form-feedback>
                                </b-form-group>
                              </b-col>
                              <b-col xs="12" md="12">
                                <b-form-group label="LLave Privada">
                                    <b-form-input :state="errorsVee.has('privateKey') == true ? false : null" v-validate="''" v-model="form.privateKey" name="privateKey" placeholder=""></b-form-input>
                                    <b-form-feedback id="input-feedback">
                                      Debe ingresar una llave privada válido.
                                    </b-form-feedback>
                                </b-form-group>
                              </b-col>
                            </b-row>
                          </b-form>
                        </div>

                        <div v-if="step == 4" key="step4">
                            <b-row class="mt-5">
                                <b-col class="text-center">
                                    <h3 class="form-step-title">¡Excelente! ...</h3>
                                </b-col>
                            </b-row>
                            <b-row class="mt-4" >
                                <b-col class="text-center">
                                    <span class="form-step-description">Tu cuenta se ha creado exitosamente</span><br>
                                    <span class="form-step-description">Para iniciar sesión haz click <a href="/admin" target="blank">aquí</a></span>
                                </b-col>
                            </b-row>
                            <b-row class="mt-4" v-if="validatingAgent">
                                <b-col>
                                    <beat-loader :loading="true" color="#0b448f" size="15px"></beat-loader>
                                </b-col>
                            </b-row>
                        </div>
                    </transition>

                    <b-row class="mt-3 text-center justify-content-sm-center form-action-buttons" v-if="step < 4">
                        <b-col v-if="step > 1">
                            <b-button @click="prevStep" :disabled="saving" class="form-button-green" variant="secondary">Regresar</b-button>
                        </b-col>
                        <b-col>
                            <b-button :disabled="saving" @click="nextStep" class="form-button-green" variant="success" v-if="step < 3">Siguiente</b-button>
                            <b-button :disabled="saving" @click="nextStep" class="form-button-green" variant="success" v-if="step == 3">Finalizar</b-button>
                        </b-col>
                    </b-row>
                </b-jumbotron>
            </b-col>
        </b-row>
    </b-container>
</div>
<script>
  var countryUrl = "{% url 'country' %}"
  var countries = {% autoescape off %}{{countries}}{% endautoescape off %}
  var email = "{% autoescape off %}{{email}}{% endautoescape off %}"
</script>
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/polyfill.min.js' %}"></script>
<script src="{% static 'js/bootstrap-vue.js' %}"></script>
<script src="{% static 'js/vee-validate.js' %}"></script>
<script src="{% static 'js/es.js' %}"></script>
<script src="{% static 'js/lodash.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'js/vue-spinner.min.js' %}"></script>
<script src="{% static 'js/noty.min.js' %}"></script>
<script src="{% static 'admin/js/element2.js' %}"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script src="https://unpkg.com/vue-upload-component"></script>
<script src="{% static 'js/agent.js' %}"></script>
</body>
</html>
