{% load static %}
<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-vue.css' %}"/>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="{% static 'css/noty.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>
<div id="agent">
    <b-container id="container">
        <b-row  class="justify-content-sm-center mt-2">
            <b-col sm="12" md="6">
                <b-jumbotron class="register-box">
                    <b-row>
                        <b-col sm="12" class="text-center">
                            <img class="logo" src="{% static 'img/logo.png' %}">
                        </b-col>
                    </b-row>
                    <b-row class="mt-3">
                        <b-col class="text-center">
                            <h3 class="form-step-title">!LISTO!</h3>
                        </b-col>
                    </b-row>
                    <b-row class="mt-3">
                        <b-col class="text-center">
                            <h4 class="form-step-description">Ya eres parte de {{ company }}</h4>
                        </b-col>
                    </b-row>
                    <b-row class="mt-2">
                        <b-col class="text-center">
                            <span>Para iniciar sesión haz clic <a href="{% url 'auth_login_' %}">aquí</a></span>
                        </b-col>
                    </b-row>
                </b-jumbotron>
            </b-col>
        </b-row>
    </b-container>
</div>
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/polyfill.min.js' %}"></script>
<script src="{% static 'js/bootstrap-vue.js' %}"></script>
<script src="{% static 'js/vee-validate.js' %}"></script>
<script src="{% static 'js/es.js' %}"></script>
<script src="{% static 'js/lodash.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'js/vue-spinner.min.js' %}"></script>
<script src="{% static 'js/noty.min.js' %}"></script>
<script src="{% static 'admin/js/element2.js' %}"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script src="https://unpkg.com/vue-upload-component"></script>
<script src="{% static 'js/agent.js' %}"></script>
</body>
</html>
