    {% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-vue.css' %}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'css/noty.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <script>
        var email = "{%  if details %}{{ details.email }}{% endif %}"
        var first_name = "{%  if details %}{{ details.first_name }}{% endif %}"
        var last_name = "{%  if details %}{{ details.last_name }}{% endif %}"

    </script>
</head>
<body>
    <div id="app">
        <b-container id="container">
            <b-row  class="justify-content-sm-center mt-2">
                <b-col sm="12" md="5">
                    <b-jumbotron class="register-box">
                        <b-row>
                            <b-col sm="12" class="text-center">
                                <img class="logo" src="{% static 'img/logo.png' %}">
                            </b-col>
                        </b-row>
                        <b-row class="steps-row" v-if="step < 4">
                            <b-col></b-col>
                            <b-col sm="6" offset="3">
                                <div class="dotsandlines">
                                    <div class="circle-contain"><div :class="{'circle': true, 'active':step > 1}">1</div></div>
                                    <div class="line"></div>
                                    <div class="circle-contain"><div :class="{'circle': true, 'active':step > 2}">2</div></div>
                                    <div class="line"></div>
                                    <div class="circle-contain"><div :class="{'circle': true, 'active':step > 3}">3</div></div>
                                </div>
                            </b-col>
                            <b-col></b-col>
                        </b-row>

                        <transition name="fade" mode="out-in">

                            <div v-if="step == 1" key="step1">
                                <b-row class="mt-5">
                                    <b-col class="text-center">
                                        <h3 class="form-step-title">Hola, ¡Un gusto conocerte!</h3>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-2" >
                                    <b-col class="text-center">
                                        <span class="form-step-description">Para poderte asesorar en tu nueva gran aventura, necesitamos conocerte un poco más.</span>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-4">
                                    <b-col>
                                        <b-form >
                                            <b-form-group label="Nombres *">
                                                <b-form-input :state="errorsVee.has('name') == true ? false : null" v-validate="'required'" type="text" v-model="form.name" name="name" required placeholder=""></b-form-input>
                                                <b-form-feedback id="input-feedback">
                                                  Debe ingresar un nombre válido
                                                </b-form-feedback>
                                            </b-form-group>
                                            <b-form-group label="Apellidos *">
                                                <b-form-input :state="errorsVee.has('lastname') == true ? false : null" v-validate="'required'" type="text" v-model="form.lastname" name="lastname" required placeholder=""></b-form-input>
                                                <b-form-feedback id="input-feedback">
                                                  Debe ingresar un apellido válido
                                                </b-form-feedback>
                                            </b-form-group>
                                            <b-form-group label="Correo electrónico *">
                                                <b-form-input autocomplete="off" :state="errorsVee.has('email') == true ? false : null" v-validate="'required|email'" type="email" v-model="form.email" name="email" required placeholder=""></b-form-input>
                                                <b-form-feedback id="input-feedback">
                                                  Debe ingresar un correo válido
                                                </b-form-feedback>
                                            </b-form-group>
                                            <b-form-group label="Contraseña *">
                                                <b-form-input :state="errorsVee.has('password') == true ? false : null" v-validate="'required'" type="password" v-model="form.password" name="password" required placeholder=""></b-form-input>
                                                <b-form-feedback id="input-feedback">
                                                  Debe ingresar una contraseña válido
                                                </b-form-feedback>
                                            </b-form-group>
                                      </b-form>
                                  </b-col>
                                </b-row>
                                <b-row class="mt-4" v-if="validatingEmail">
                                    <b-col>
                                        <beat-loader :loading="true" color="#0b448f" size="15px"></beat-loader>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-4" v-if="savingError">
                                    <b-col class="text-center">
                                        <b-alert show variant="danger">Disculpa pero parece que este correo ya está registrado. Si te parece raro, por favor contacta a info@exploor.pe.</b-alert>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-2" >
                                    <b-col class="">
                                        <span class="form-step-footer">Importar datos desde:</span>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-2 icons" >
                                    <b-col class="">
                                        <a href="{% url "social:begin" "facebook" %}?next={{ request.path }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                        <a href="{% url "social:begin" "twitter" %}?next={{ request.path }}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                        <a href="{% url "social:begin" "linkedin-oauth2" %}?next={{ request.path }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                        <a href="{% url "social:begin" "google-oauth2" %}?next={{ request.path }}"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                                    </b-col>
                                </b-row>
                            </div>

                            <div v-if="step == 2" class="step-2" key="step2">
                                <b-row class="mt-5">
                                    <b-col class="text-center">
                                        <h4 class="form-step-title">¿A cuál categoría perteneces?</h4>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-2" >
                                    <b-col class="text-center">
                                        <span class="form-step-description">Por favor indica si eres un operador turístico o una agencia de viajes.</span>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-4">
                                    <b-col class="text-center">
                                        <b-button :pressed="activeButton == 'operator'" ref="operatorBtn" @click="clickOperator" class="btn-big form-button-green" size="lg" variant="outline-secondary">Soy un operador</b-button>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-2">
                                    <b-col class="text-center">
                                        <b-button :pressed="activeButton == 'agency'" ref="agencyBtn" @click="clickAgency" class="btn-big form-button-green" size="lg" variant="outline-secondary">Soy una agencia</b-button>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-4" v-if="typeOfUserError">
                                    <b-col class="text-center">
                                        <b-alert variant="danger" show>Si no estás seguro cúal eres, puedes ver la diferencia poniendo el mouse sobre el texto <b>¿Cúal es la diferencia?</b></b-alert>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-3">
                                    <b-popover target="btn-difference"
                                               placement="top"
                                               title="¿Cuál es la diferencia?"
                                               triggers="hover">
                                        <div>
                                            <b>Operadores</b> Es un proveedor propio que opera y provee tours y actividades, como observación de aves, escuelas de surf y clases de cocina. Organiza y da el servicio.
                                        </div>
                                        <hr>
                                        <div>
                                            <b>Agencias</b> Organiza paquetes turísticos y en muchos casos, trabaja directamente con los tour operadores, hoteles y líneas aéreas para elaborar paquetes. Organiza pero no siempre da el servicio.
                                        </div>
                                    </b-popover>
                                    <b-col class="text-center">
                                        <b-button id="btn-difference" class="btn-link form-button-green" size="sm" variant="link">¿Cúal es la diferencia?</b-button>
                                    </b-col>
                                </b-row>
                            </div>

                            <div v-if="step == 3" key="step3">
                                <b-row class="mt-5">
                                    <b-col class="text-center">
                                        <h3 class="form-step-title">Datos de tu Empresa</h3>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-2">
                                    <b-col class="text-center">
                                        <span class="form-step-description">Para optimizar la cuenta a tus necesidades, por favor indica el nombre de tu empresa y tu sitio web.</span>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-4">
                                    <b-col>
                                        <b-form>
                                            <b-form-group label="Nombre de tu Empresa *">
                                                <b-form-input :state="errorsVee.has('companyName') == true ? false : null" v-validate="'required'" type="text" v-model="form.companyName" name="companyName" required placeholder=""></b-form-input>
                                                <b-form-feedback id="input-feedback">
                                                  Debe ingresar un nombre de empresa válido
                                                </b-form-feedback>
                                            </b-form-group>
                                            <b-form-group label="Tu sitio web">
                                                <b-form-input :state="errorsVee.has('companyWebUrl') == true ? false : null" v-validate="'url'" type="text" v-model="form.companyWebUrl" name="companyWebUrl" required placeholder=""></b-form-input>
                                                <b-form-feedback id="input-feedback">
                                                  Debe ingresar una dirección válida
                                                </b-form-feedback>
                                            </b-form-group>
                                      </b-form>
                                  </b-col>
                                </b-row>
                                <b-row class="mt-4" v-if="savingError">
                                    <b-col class="text-center">
                                        <b-alert show variant="danger">Parece que esta empresa ya tiene una cuenta. En todo caso escríbenos a info@exploor.pe.</b-alert>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-4" v-if="saving">
                                    <b-col>
                                        <beat-loader :loading="true" color="#0b448f" size="15px"></beat-loader>
                                    </b-col>
                                </b-row>
                            </div>

                            <div v-if="step == 4" key="step4">
                                <b-row class="mt-5">
                                    <b-col class="text-center">
                                        <h3 class="form-step-title">¡Excelente! ...</h3>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-4" >
                                    <b-col class="text-center">
                                        <span class="form-step-description">Te hemos enviado un correo para que confirmes tu cuenta. Haz clic en el enlace del correo y automáticamente ingresarás al administrador. También te incluimos una guía de ayuda con los primeros pasos.</span>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-4" >
                                    <b-col class="text-center final-step-content">
                                        <span class="form-step-description">Si el correo no te ha llegado, haz clic <b-button @click="resendEmail" size="md" variant="link">aquí</b-button> para volver a enviarlo o escríbenos a <b-button href="mailto:info@exploor.com" size="md" variant="link">info@exploor.com</b-button></span>
                                    </b-col>
                                </b-row>
                            </div>
                        </transition>

                        <b-row class="mt-3 text-center justify-content-sm-center form-action-buttons" v-if="step < 4">
                            <b-col v-if="step > 1">
                                <b-button :disabled="saving" @click="prevStep" class="form-button-green" variant="secondary">Regresar</b-button>
                            </b-col>
                            <b-col>
                                <b-button :disabled="saving" @click="nextStep" class="form-button-green" variant="success" v-if="step < 3">Siguiente</b-button>
                                <a v-if="step == 1" href="/admin">
                                  <b-button :disabled="saving" class="form-button-green have_account">Ya tengo una cuenta</b-button>
                                </a>
                                <b-button :disabled="saving" @click="nextStep" class="form-button-green" variant="success" v-if="step == 3">Finalizar</b-button>
                            </b-col>
                        </b-row>
                    </b-jumbotron>
                </b-col>
            </b-row>
        </b-container>
    </div>
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/polyfill.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-vue.js' %}"></script>
    <script src="{% static 'js/vee-validate.js' %}"></script>
    <script src="{% static 'js/es.js' %}"></script>
    <script src="{% static 'js/lodash.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/vue-spinner.min.js' %}"></script>
    <script src="{% static 'js/noty.min.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>
