.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    color: #0055c8;
}
.vertical-menu a {
    background-color: #ecf0f1;
    color: black;
    display: block;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}
.background-white{
    background: #fff;
    border: 1px solid #cccccc;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.background-white h3{
  font-size: 18px !important;
  margin-bottom: 20px;
  padding-left: 0px;
  font-family: 'arial_rounded_mt_boldbold';
}
.background-white h3::after{
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background: #ffb153;
}
.excel-button{
  width: 100%;
  border-radius: 20px;
}
.el-select{
  display: block;
}
.logo{
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 12px;
  display:block;
  line-height:20px;
}
.removeLogo{
  color:#ff0000a3;
}
.removeLogo:hover{
  color: #ff0000a3;
  text-decoration: underline;
}
.button-logo{
  background: #194491;
  color: white;
  border-radius: 20px;
  line-height: 28px;
}
.button-logo:hover{
  background: #3865b6;
  color: white;
}
.agent-tab{
  border-radius: 8px 8px 0px 0px;
  width: 30%;
}
.tab-select{
  background: #224394 !important;
  color:white !important;
}
.invite-button{
  float: right;
  background: white;
  border-color: #1f4792;
  color: #1f4792;
}
.return-agents-button{
    float: right;
    color: #1f4792;
    text-decoration: underline;
}
.el-input--medium .el-input__inner{
  border-radius: 30px;
}
.el-autocomplete{
  width: 40%;
}
.el-input__suffix {
  right: 10px;
  top: 2px;
}
.el-textarea__inner{
  height: 200px;
  max-height: 200px;
}
.avatar-uploader .el-upload {
   border: 1px dashed #d9d9d9;
   border-radius: 6px;
   cursor: pointer;
   position: relative;
   overflow: hidden;
 }
 .avatar-uploader .el-upload:hover {
   border-color: #409EFF;
 }
 .avatar-uploader-icon {
   font-size: 28px;
   color: #8c939d;
   width: 178px;
   height: 178px;
   line-height: 178px;
   text-align: center;
 }
 .avatar {
   width: 178px;
   height: 178px;
   display: block;
 }
.disabled-avatar .el-upload{
  cursor:default;
}
.el-tag{
  cursor:pointer;
}

#config input:focus{
  border-color: #ffb05c;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,176,92,.6);
}
.password .el-form-item__content{
  line-height: 15px;
}
.password-info{
  font-size: 12px;
  color: #666666;
}
.button-save{
  width:20%;
}
.button-save:focus{
  background: #66c23a;
}
.el-radio-button, .el-radio-button__inner{
  border-radius: 20px !important;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background-color: #fb962c !important;
  border-color: #fb962c !important;
  box-shadow: -1px 0 0 0 #fb962c;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner:hover{
  color: white !important;
}
.el-radio-button__inner:hover {
  color: #fb962c !important;
}
.agents-empty{
  font-size: 30px !important;
  margin-bottom: 60px;
  margin-top: 40px;
  color: #666666;
  text-align: center;
}
.agents-confirm, .agents-pending{
  background: #ecf0f1;
  margin-bottom: 15px;
  border-radius:5px;
  border: 1px solid;
  border-color: #7f7272;
  line-height: 40px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.header-confirm{
  font-size: 16px;
  color: #666666;
}
.agent-confirm{
  font-size: 14px;
}
.agent-confirm-icon{
  margin-left: 35px;
}
.el-icon-error{
  margin-top:11px;
  color:#e64747;
  font-size: 18px;
}
.el-icon-success{
  margin-top:11px;
  color: #66bf66;
  font-size: 18px;
}
.fa-pencil-alt{
  cursor:pointer;
  margin-top:11px;
  color: #17498f;
  font-size: 18px;
  margin-left: 50px;
}
.pencil-pending{
  cursor:pointer;
  margin-top:11px;
  color: #17498f;
  font-size: 18px;
  margin-left: 0px !important;
}
.button-reenvio{
  color: #fff;
  background-color: #17498f;
  border-color: #17498f;
  margin-bottom: 1px;
  font-size: 12px;
}
.button-unlink{
  color: #fff;
  background-color: #e64747;
  border-color: #e64747;
  margin-bottom: 1px;
  font-size: 11px;
}
/* .button-unlink:first-child{
  margin-top:29px;
} */
.button-reenvio:hover{
  color: #fff;
  background-color: #17498f;
  border-color: #17498f;
}
.button-reenvio:focus{
  background: white;
  border-color: #1f4792;
  color: #1f4792;
}
.select-invited .el-select__input{
  background: none;
  border: none;
}
.select-invited .el-select__input:focus{
  outline: 0;
  box-shadow: none !important;
}
.el-select .el-input.is-focus .el-input__inner{
  border-color: rgba(26,71,147, 0.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(26,71,147,.6);
}
.tags-email{
  background: none;
  border: none;
  padding: 0;
  width: 100%;
}
.tags-email:hover{
  background: wheat;
}
.tags-email:focus{
  background: none;
}
.email-info .el-textarea__inner:focus{
  border-color: #f79328;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247,147,40, 0.6);
}
