.menu .border{
	height: 50px;
	padding: 15px;
	border-right: 1px solid #ededed;
    /* border-top: 1px solid #ededed; */
	/* border-bottom: 1px solid #ededed; */
	background: #edeff1;
	cursor: pointer;
	color: #7f8c8d;
	text-align: center;
}

.menu .border:first-child{
    border-right: 1px solid #ededed;
}
.menu .border:last-child{
	border-right: 1px solid #ededed;
}

.menu {
	/* background: #fff; */
	/* width: 79.16667%; */
}

.menu .border.active{
	background: #fff;
	color: #666;
	/* border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd; */
	border: 1px solid #ddd;
}

.menu .border:not(.active){
	border-bottom: 1px solid #ddd;
}


.menu .border.finished{
	/* background: #57ce66;
	color: #fff; */
}

#service{
  display: none;
	/* background: #ffffff; */
}

.service-category .item{
    display: block;
    overflow: auto;
    height: calc(100% - 50px);
}
.service-category .border.active{
	border-color: #13ce66;
    border-bottom: 1px solid #13ce66 !important;
}

.service-category .border svg{
    display: none;
}

.service-category .border.active svg{
    display: inline-block;
}

.service-category .category-title i{
	color: #13ce66;
}

.form-container{
    overflow: auto;
}


.service-category .border{
    border: 1px solid #cccccc;
    padding: 15px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #fff;
}

.service-category .border:last-child{
	border-bottom: 1px solid #cccccc;
}

.border {
	/*border-style: ridge;*/
	overflow: auto;
}
.bottom{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
.btn-sgte {
	margin-left: 2cm;
}
.container-step{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
h3{
	font-size: 18px !important;
	margin-bottom: 20px;
	padding-left: 0px;
	font-family: 'arial_rounded_mt_boldbold';
}

h4{
	font-size: 16px !important;
	margin-bottom: 20px;
	padding-left: 0px;
	font-family: 'arial_rounded_mt_boldbold';
}

h5{
    margin-bottom: 30px;
}
.container{
    /* background: #ffffff; */
		/* border-bottom: 1px solid #ddd; */
		/* border-right: 1px solid #ddd; */
		/* border-left: 1px solid #ddd; */
}

.paragraph{
	/*font-family: ;*/
	font-size:small;
}

.plus-button{
	/*margin-left: 10px;*/
		font-size: 25px;
		padding: 5px;
		background: none;
    border: none;
}
.plus-button:focus{
    color: #000;
}
.plus-button:hover{
    color: #57cd66;
    border-color: #57cd66;
}
.plus-button-text{
	font-size: 20px;
	padding: 5px;
	background: none;
	border: none;
}
.plus-button-text:hover{
	color: #1f2e3c !important;
	border: none !important;
	cursor: auto;
}
.plus-button.is-disabled, .plus-button.is-disabled:hover{
    background: none;
}

.schedule{
    display: block;
    height: auto;
    min-height: 270px;
    /*overflow: auto;*/
}

.schedule-copy{
    display: block;
    height: auto;
    min-height: 30px;
    /*overflow: auto;*/
}

.schedule-copy .el-select .el-input .el-input__icon{
    display: none;
}

.schedule-copy .el-select>.el-input input{
    font-size:11px;
    padding-right: 5px;
    background: #2b5a9c;
    text-align: center;
    margin-bottom: 10px;
}

.schedule-copy .el-select>.el-input input::placeholder{
    color: #fff;
}

.schedule-copy .el-select>.el-input input::-webkit-input-placeholder,
.schedule-copy .el-select>.el-input input:-moz-placeholder,
.schedule-copy .el-select>.el-input input::-moz-placeholder,
.schedule-copy .el-select>.el-input input:-ms-input-placeholder {
    color: #fff;
}

.schedule .el-date-editor.el-input{
	width: 70px;
}
.schedule .el-date-editor.el-input input{
    cursor: default !important;
    background-color: #fff;
}
.schedule .el-icon-time{
    display: none;
}

.schedule .el-input__icon+.el-input__inner{
    padding-right: 5px;
}

.schedule .day , .schedule-copy .day{
    width: calc(100% / 7);
    float: left;
    /*min-height: 270px;*/
    border-right: 1px solid #eee;
    box-sizing: border-box;
}
.schedule .day .title{
    height: 20px;
}

.schedule .day .hour-row{
    margin-bottom: 5px;
}

.schedule .day .hour-row span{
    cursor: pointer;
}

.schedule .day .hour-row .fa-trash-alt{
    font-size: 20px;
}

.el-time-panel{
    width: 220px !important;
}

.schedule .day .plus-button{
    margin-bottom: 20px;
}
.exclude-date {
}
.exclude-date .delete{
    cursor: pointer;
    margin-top: 6px;
    display: block;
}
.exclude-date .delete .fa-trash-alt{
    font-size: 20px;
}
.fa-trash-alt{
    color: #FF0000;
}

/*WYSIWYG*/
.editr--toolbar div:nth-child(n+4){
    display: none;
}

.editr--content{
    text-align: left;
}

.select2-option-title{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
}

.select2-option-description{

}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #14cd66;
}

.service-price{
    display: inline-table;
    height:85px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.service-price .group-checkbox{
    margin-top: 50px;
}
.service-price .normal-checkbox{
    margin-top: 6px;
}
.service-price .group-label{
    margin-top: 50px;
}
.service-price .normal-label{
    margin-top: 6px;
}
.service-price .group-price{
    margin-top: 45px;
}

.service-price .group-plus-button{
    margin-top: 47px;
}

.service-price .el-form-item{
    margin-bottom: 0px !important;
}
.service-price .fa-trash-alt{
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.service-price .el-row{
    padding: 10px;
}
.service-price .group-trash span{
    position: absolute;
    top: 17px;
}
.service-price .group-trash{
    padding: 5px;
}
.prices.error .service-price{
    border-color: #e9322d !important;
}
.prices.error .error-info{
    height: 25px;
}
.ql-toolbar.ql-snow{
    text-align: left;
    background-color: #edeff1;
    padding: 6px;
}

.save-terms{
    margin-top: 20px;
}
.material-icons{
    display: none;
}
.vue-dropzone .dz-preview .dz-details{
    background-color: rgba(44, 92, 156, 0.6) !important;
}
.vue-dropzone .dz-filename{
    display: none;
}
.el-date-range-picker__header div{
	font-size: 12px;
}
.el-date-picker__header-label {
	font-size:11.5px;
}
.time-select-item{
	font-size:12px;
	text-align:center;
	padding:2px 3px;
}
.schedule .el-input__icon+.el-input__inner{
	text-align: center;
}
.el-date-editor.el-input{
	width: 90%;
}
.input-number{
	width: 60px;
}


.quill-editor{
	height: 100%;
}
.ql-container{
	height:calc(100% - 54px);
}
.wysiwyg-container{
    height: 250px;
}
.wysiwyg{
	height: 200px;
}

.error .ql-toolbar{
	border-left-color: #e9322d;
	border-top-color: #e9322d;
	border-right-color: #e9322d;
}
.error .ql-container{
	border-color:#e9322d;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow{
	height: 70%;
}
.dz-size{
    display: none;
}
.price-disabled{
	background-color: #edeff1;
}
.price-disabled{
    border-bottom: 1px solid #fff;
}
.price-hover:hover{
	background-color: #2b5b9c;
    color: #fff;
}

.price-hover:hover .el-form-item__label{
    color: #fff;
}

.price-hover:hover .plus-button{
    color: white;
    background: none;
}

.price-hover:hover .group-trash i{
    color: #fff;
}

.background-white{
    background: #fff;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 30px;
}

.delete-disabled svg{
	color: #c0c4cc;
}
.error-info-disabled{
	color: #c0c4cc;
}
label{
	cursor: default;
}
/* #suit-center{
	padding: 20px 20px 0 20px;
} */
#push{
	display: none;
}
#saving-message{
    margin-right: 10px;
    margin-top: 25px;
    line-height: 10px;
}
.el-scrollbar__thumb{
    background-color: rgba(31, 138, 200, 0.7);
}
.el-scrollbar__thumb:hover{
    background-color: rgba(31,138,200,.5);
}
.repeat-excluded-date{
    margin-top: 5px;
}

.title-schedule{
    font-size: 18px !important;
    padding-left: 0px;
    font-family: 'arial_rounded_mt_boldbold';
    margin-bottom: 0px !important;
}
.description-schedule{
	font-family: "arial_rounded_mtregular","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif !important;
	font-weight: 400 !important;
}

.error-info{
    color: #e9322d;
    font-size: 12px !important;
}

.el-message__img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: calc(50% - 20px);
}

.el-message__group p {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    margin: 0 34px 0 0;
    color: #8391a5;
    text-align: justify;
}

.el-message__group{
    height: auto;
}

.long-wysiwyg{
    height: 450px;
}
.long-wysiwyg .ql-toolbar.ql-snow + .ql-container.ql-snow{
    height: 170% !important;
}
.long-wysiwyg .error-info,
.itinerary-wysiwyg .error-info{
	margin-top: 200px;
}

.itinerary-wysiwyg{
	height: 450px;
}
.itinerary-wysiwyg .ql-toolbar.ql-snow + .ql-container.ql-snow{
    height: 170% !important;
}
.included-wysiwyg,
.not-included-wysiwyg{
    height: 330px;
}
.included-wysiwyg .error-info,
.not-included-wysiwyg .error-info{
	margin-top: 80px;
}
.included-wysiwyg .ql-toolbar.ql-snow + .ql-container.ql-snow,
.not-included-wysiwyg .ql-toolbar.ql-snow + .ql-container.ql-snow{
    height: 110% !important;
}
.help-section{
	border-top: 1px solid #ddd;
	overflow-x: hidden;
	position: relative;
	background: white;
}
.help_showhide_btn {
	background: #f39c12;
	color: white;
	text-align: center;
	cursor: pointer;
	padding: 0;
	width: 36px;
	height: 25px;
	font-size: 20px;
	display: block;
	position: absolute;
	line-height: 27px;
}
.help_show{
	border-radius: 4px;
  right: 0;
  top: 50%;
	font-size: 17px;
}
.help_hide{
	border-radius: 0 4px 4px 0;
	top: 25px;
}

.help_hide:hover{
	color: #fff;
}
.help-hidden{
	border: none;
	background: none;

}
.help-hidden > .el-row {
	display: none;
}
.help-hidden .help_hide{
	border-radius: 5px 0 0 5px !important;
	right: 0;
}
.hour-row .el-input--prefix .el-input__inner {
    padding-left: 14px;
}
.hour-row .el-input__icon{
    width: 13px;
}
.hour-row .el-input--suffix .el-input__inner {
    padding-right: 17px;
}
.exclude-date{
    margin-top: 10px;
}
.exclude-date .el-input__inner{
    height: 32px;
    line-height: 32px;
}
.noty_body{
    text-align: center;
}
.dropzone .dz-preview .dz-image,
.dropzone .dz-preview .dz-image img{
    width: 180px !important;
    height: 180px !important;
}