{#{% load sitetree %}#}
{% load i18n suit_menu %}
{% load url from suit_compat %}

<div class="left-nav" id="left-nav" style="float: left">
  <ul>
    {% block menu_home %}
      {% url 'admin:index' as index_url %}
      <li{% if index_url == request.path %} class="active"{% endif %}>
        <a href="{{ index_url }}"><i class="fas fa-home"></i> {% trans 'Home' %}
        </a>
      </li>
    {% endblock %}

    {% get_menu request as app_list %}
    {% if app_list %}
      {% for app in app_list %}
        {% if app.separator %}
          <li class="separator"></li>
        {% else %}
          <li{{ app.is_active|yesno:' class=active,' }} {% if app.label == 'Ordenes'%} data-step='2' data-intro="Menu ordenes" data-position="bottom-right-aligned" {% else %} data-step="3" data-intro="Menu servicios" data-position="bottom-right-aligned" {% endif %}>
            <a href="{{ app.url }}"{{ app.blank|yesno:' target=_blank,' }}><i class="fas {{app.icon}}"></i> {% trans app.label|capfirst %}
            </a>
            {% if app.models %}
              <ul>
                {% for model in app.models %}
                  <li{{ model.is_active|yesno:' class=active,' }}>
                    <a href="{{ model.url }}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
      <li class="{% if menu_index == 4 %}active{% endif %}" data-step="4" data-intro="Menu Administración" data-position="bottom-right-aligned">
          <a href="{% url 'config' %}"> <i class="fas fa-cog"></i> Administración
          </a>
      </li>
    {% endif %}
  </ul>
</div>
