{% extends "admin/base.html" %}
{% load admin_static %}
{% load i18n %}
{% load suit_tags %}
{% load tag_user %}
{% block extrahead %}
<script>
  var userName = "{% get_user_name %}"
</script>
<!-- Hotjar Tracking Code for http://exploor.review -->
<link rel="stylesheet" href="{% static 'admin/css/introjs.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/introjs-modern.css' %}">
<link rel="stylesheet" href="{% static 'css/noty.css' %}">
<!-- <link rel="stylesheet" href="{% static 'admin/css/introjs-rtl.css' %}"> -->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="{% static 'admin/js/intro.js' %}"></script>
<script src="{% static 'admin/js/main.js' %}"></script>
<script src="{% static 'js/noty.min.js' %}"></script>
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:763916,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

    // $(document).ready( function() {
    //   if (window.location.pathname == "/admin/"){
    //     var intro = introJs();
    //     intro.setOptions({
    //       nextLabel: "Siguiente",
    //       prevLabel: "Atrás",
    //       skipLabel: "Saltar",
    //       doneLabel: "Salir",
    //       showProgress: true,
    //     });
    //     intro.start();
    //   }
    // });
</script>
{% endblock %}

<!-- Container -->
{% block container %}

  <div id="container">

    {% block header %}
      {% if not is_popup %}
        <!-- Header -->
        <div id="header" class="header">
          <div id="branding">
            <a href="/"><h1 id="site-name" data-step="1" data-intro="Este es un logo" style="position:relative;"><img src="{% static 'admin/img/logo.png' %}"></h1></a>
          </div>

          {% block header_time %}
          {% endblock %}
          {% if user.is_active and user.is_staff %}
            <div id="user-tools">
              {% include 'suit/menu.html' %}
              {% block welcome-msg %}
                <div class="dropdown" >
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      {% trans 'Welcome,' %}
                      <strong>
                        {% filter force_escape %}
                          {% firstof user.first_name user.username %}
                        {% endfilter %}
                      </strong>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a class="change-password" href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
                    <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
                  </ul>
                </div>
                <!-- <div>
                  {% trans 'Welcome,' %}
                  <strong>
                    {% filter force_escape %}
                      {% firstof user.first_name user.username %}
                    {% endfilter %}
                  </strong>.
                </div> -->
              {% endblock %}
              <!-- <span class="user-links">
                {% block userlinks %}
                  {% url 'django-admindocs-docroot' as docsroot %}
                  {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
                    <span class="separator">|</span>
                  {% endif %}
                  <a class="change-password" href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
                  <span class="separator">|</span>
                  <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                {% endblock %}
              </span> -->
            </div>
          {% endif %}
          {% block nav-global %}{% endblock %}
        </div>
      {% endif %}
      <!-- END Header -->
    {% endblock %}

      <div class="suit-columns {{ is_popup|yesno:'one-column,two-columns' }}">


        <!-- {% block content-left %}
          {% if not is_popup %}
            <div id="suit-left" class="suit-column">
              {% block quick-search %}
                {% with 'SEARCH_URL'|suit_conf as search_url %}
                  {% if search_url %}
                  {% endif %}
                {% endwith %}

              {% endblock %}
            </div>
          {% endif %}
        {% endblock %} -->

        {% block content-center %}
          <div id="suit-center" class="suit-column">

            {% if not is_popup %}
              {% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                    {% if title %}
                      <span class="divider">&raquo;</span>
                      </li>
                      <li class="active">
                      {{ title }}
                    {% endif %}
                    </li>
                </ul>
              {% endblock %}
            {% endif %}

            {% block messages %}
              {% if messages %}

                {% for message in messages %}
                  <div class="alert alert-{% firstof message.tags 'info' %}">
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endblock messages %}

            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %} row-fluid">
              {% block pretitle %}{% endblock %}
              {% block content_title %}{% if title %}
                <h2 class="content-title">{{ title }}</h2>
              {% endif %}{% endblock %}
              {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
              {% endblock %}
              {% block sidebar_content %}
                {% block sidebar %}{% endblock %}
              {% endblock %}
            </div>
            <!-- END Content -->
          </div>
        {% endblock %}

      </div>
  </div>
{% endblock %}



{% block footer %}
{% endblock %}

{% block extrastyle %}
 {{block.super}}
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/main.css' %}" media="all"/>
{% endblock %}
