{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h3 class="dashboard-welcome">Bienvenido {{request.user.first_name}}</h3>
{% if not request.user.is_superuser %}
    {% if request.user.type_user.id == 3 %}
    <p class="dashboard-product-creation-invite">SOY UN AGENTE</a></p>
    {% else %}
        {% if request.user.quantity_services == 0 %}
            <p class="dashboard-product-creation-invite">Aún no has ingresado ningún servicio, te invitamos a registrar tu primer servicio haciendo clic <a href="{% url 'admin:servicios_service_add' %}">aquí.</a></p>
        {% endif %}
    {% endif %}

{% endif %}

{% endblock %}


{% block sidebar %}
  
{% endblock %}