@font-face {
    font-family: 'arial_rounded_mt_boldbold';
    src: url('/static/admin/fonts/arlrdbd-webfont.woff2') format('woff2'),
         url('/static/admin/fonts/arlrdbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arial_rounded_mtregular';
    src: url('/static/admin/fonts/arial_rounded_mt-webfont.woff2') format('woff2'),
         url('/static/admin/fonts/arial_rounded_mt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "arial_rounded_mtregular","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    background: #ecf0f1;
}
a {
    color: #3498db;
}
strong{
    font-family: 'arial_rounded_mt_boldbold';
}
.el-input__icon{
    height: 30px !important;
}

.table thead th, .table thead td{
    background-color: #e5e5e5;
    background-image: none;
}

.btn-success{
    background-color: #13ce66;
    background-image: none;
}

.login #content-main h1{
    background-color: #2b5b9c;
    background-image: none;

}

.left-nav{
    margin-right: 1px;
    margin-top: 0px;
}
.left-nav>ul {
    padding: 0px;
}
.left-nav>ul>li>ul {
    min-width: 150px;
}
.left-nav>ul>li{
    line-height: 35px;
    width: 130px;
    float: left;
    height: auto;
}
.left-nav>ul>li.active ul {
    display: none;
}
.left-nav>ul>li>ul>li{
    height: 45px;
}
.left-nav>ul>li>ul>li>a{
    line-height: 37px;
    color: #333;
}
.left-nav>ul>li:hover{
    background: white !important;
}
.left-nav>ul>li>ul {
    left:inherit !important;
    margin-top:0 !important;
    margin-right:0 !important;
    border-radius: 0 !important;
    background: white !important;
    box-shadow: none !important;
    border: 1px solid #ddd !important;
    position: absolute !important;
    z-index: 1000;
    padding: 0 !important;
    background-clip: padding-box !important;
}
.left-nav>ul>li:hover>ul {
    display: block;
}
.left-nav>ul>li ul li a{
    padding: 4px 15px !important;
}
.left-nav>ul>li ul li a:hover{
    text-shadow: none;
}
.left-nav>ul>li.active>a{
    background-color: white;
    background-image: none;
    color: #f9970f;
    text-shadow: none;
    border: none;
}
.left-nav>ul>li:not(.active):hover>ul>li{
    border-top: none;
}
.left-nav>ul>li:not(.active):hover>ul>li:last-child a{
    border-radius: 0px;
}
.left-nav>ul>li.active>a:after{
    content: ""
}

#wrap{
    background: none;
    margin: 0 auto -40px !important;
}

.login #wrap{

}

.login #content-main{
    border: 1px solid #ddd;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.header{
    background-color: white;
    background-image: none;
    color: #333;
    text-shadow:none;
    height: 65px;
    border-bottom: 1px solid #ddd;
}

.header a{
    color: #333;
}

.header #branding h1{
    margin: 15px 15px 0 13px;
}

.header #user-tools{
    padding: 20px 20px 0 0;
}

.header #branding{
    background: white;
    background-image: none;
    border-right: 0px;
}

.header #branding img {
    margin-left: 15px;
    margin-top: -5px;
}

.btn-info{
    background-color: #2b5b9c;
    background-image: none;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #3774c7;
    background-image: none;
}
.el-form-item__label{
    padding-bottom: 0px !important;
    font-size: 12px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 12px;
}

.dashboard-welcome{
    font-size: 21px;
}
.dashboard-product-creation-invite{
    margin-left: 10px;
    font-size: 14px;
}

/* #service input, #order input{
    height: 30px !important;
} */

.error .el-input:not(.exclude-error) input{
    border-color: #e9322d !important;
}
.error .el-select:not(.exclude-error) .el-input input{
    border-color: #d1dbe5 !important;
}
.error .error-info{
    color: #e9322d !important;
    width: 100%;
    display: block;
    font-size:12px;
    line-height: 12px;
}
.help-section{
    /*min-height: 100%;*/
    overflow: auto;
    position: absolute;
    right: 0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    /* padding: 20px; */
}

.help-section .content{
    font-size: 13px !important;
}
.help-background-white{
    background-color: #fff;
}
.footer .content{
    border: none;
    color: white;
}
.footer .content .branding{
    width: 350px;
}
#reset-form p input{
    width: 95%
}
#reset-form h3{
    width: 95%
}

#reset-form .btn-info{
    margin-left: calc(50% - 32px);
    margin-bottom: 15px;
}
#reset-form .errorlist{
    list-style: none;
    margin-left: 0;
}
#content-main .info-reset{
    padding: 20px;
}
#content-main .text-confirm{
    padding: 20px;
}
.reset-password ul:not(.errorlist){
    list-style: none;
    margin-left: 10px;
}
.reset-password  ul:not(.errorlist) li{
    text-indent: -7px;
}
.reset-password  ul:not(.errorlist) li:before{
    content: '- ';
}
.reset-password .btn-info{
    margin-left: calc(50% - 67px);
    margin-bottom: 15px;
}
.reset-password .errorlist{
    list-style: none;
    margin-left: 0;
}
.breadcrumb li:not(.active):nth-child(2){
  display: none !important;
}

#suit-left {
  padding: 5px 0 5px 0;
  right: 0;
  margin-left: 0px;
  width: 100%;
  background: white;
  border-bottom: 2px solid #ddd;
  z-index: 1;
}

#suit-left li{
    /* line-height: 35px;
    width: 150px;
    float: left; */
}
#suit-left li a {
    text-align: center;
    border-bottom: none;
}
/*
#suit-left li {
    border-left:
} */

.suit-columns{
  padding-right: 0;
  padding-left: 0;
}

#suit-center{
  /* padding: 0; */
  box-sizing: border-box;
}
.footer{
    height: 40px !important;
    text-shadow: none;
  background-color: #95a5a6;
}

.breadcrumb{
    text-shadow: none;
    border-radius: 0px;
    background: none;
    padding: 8px 15px 8px 0px;
}

.breadcrumb li.active, .breadcrumb li.active a{
    color: #7f8c8d;
}

.table thead th, .table thead td{
    background-color: #ecf0f1;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
    height: 25px;
}

select{
    height: 35px;
}

.btn{
    line-height: 23px;
    text-shadow: none;
    box-shadow: none;
}

.table th, .table td{
    line-height: 40px;
}

.el-select .el-input__inner {
  background: white;
}

.dropdown{
  position: inherit !important;
  margin-left: 15px;
  float: left;
  margin-top: 7px;
}

.dropdown-menu{
    right: 17px;
    left: initial;
    top: 64px;
    border-radius: 0px;
    color: black;
}
.btn.btn-default.dropdown-toggle{
    background: none;
    border: none;
    color: #666666;
}
.btn.btn-default.dropdown-toggle:hover{
    text-decoration: underline;
}
.btn.btn-default.dropdown-toggle:focus{
    outline: 0;
}
.btn.btn-default.dropdown-toggle:active{
    box-shadow: none;
}
.dropdown .caret {
    border-top-color: #666666;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    background-color: #f1f1f1;
    background-image: none;
    text-decoration: underline;
    color: black;
}
#push{
    display: none !important;
}
.noty_body{
    text-align: center;
}