#order{
    display: none;
}
.background-white{
    background: #fff;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.paragraph{
	/*font-family: ;*/
	font-size:small;
	margin-left: 80px	
}

.plus-button{
	/*margin-left: 10px;*/
	font-size: 25px;
	background: none;
    border: none;
}
.plus-button:focus{
    color: #000;
}
.plus-button:hover{
    color: #57cd66;
    border-color: #57cd66;
}

h3{
	font-size: 18px !important;
	margin-bottom: 20px;
	padding-left: 0px;
	font-family: 'arial_rounded_mt_boldbold';
}

.participant-label{
    display: inline;
}
.price-title-row{

}
.price-title-row h3{
    margin-bottom: 0px;
}
.price-row h4{
    margin-top: 0px;
    margin-bottom: 20px;
}
hr{
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #ffffff;
}
.no-b-margin{
    margin-bottom: 0px;
}
.order-help-info{
    border: 1px solid #cccccc;   
}

.fa-trash-alt{
    font-size: 17px;
    margin-top: 56px;
    cursor: pointer;
    color: #FF0000;
}

.margin-price{
    margin-left: 27px !important;
}

.padding-check{
    padding-top: 20px;
}

.title-schedule{
    font-size: 18px !important;
    padding-left: 0px;
    font-family: 'arial_rounded_mt_boldbold';
    margin-bottom: 0px !important;
}

.error-info{
    color: #e9322d;
    font-size: 12px !important;
}

.el-dialog--small{
    width: 20%;
}
.el-dialog__footer{
    padding: 0px 20px 15px;
}
.el-checkbox__label{
    font-size: 12px;
}
.el-date-picker__header-label{
    font-size: 11.5px;
}

label{
    cursor: default;
}

.out_date_cursor input:hover{
    cursor: pointer;
}
.out_date_cursor .el-input__inner{
    background: white;
}

.previous:hover{
    opacity: 0.7;
}
textarea{
    height: auto !important;
}
.el-input__prefix{
    bottom: 3px;
    top: auto;
}
.el-radio__input.is-checked+.el-radio__label {
    color:  #f79328;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #f79328;
    background: #f79328;
}
.el-radio.is-bordered.is-checked {
    border-color: #f79328;
}
.el-radio__inner:hover{
    border-color: #f79328;
}
.capacity{
    color: #264594;
    margin-top: 55px;
    padding-left: 20px;
    font-family: 'arial_rounded_mt_boldbold';
}
.notice-confirm{
    margin-top: 60px;
    color: #ea5f5f;
    font-size: 14px;
    font-family: 'arial_rounded_mt_boldbold';
}
.checkbox-resend{
    margin-bottom: 22px;
}
.checkbox-resend .el-checkbox__inner:hover{
    border-color:#f79328;
}
.checkbox-resend .el-checkbox__input.is-checked .el-checkbox__inner{
    border-color:#f79328;
    background: #f79328;
}
.checkbox-resend .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #f79328;
}
.checkbox-resend .el-checkbox__input.is-focus .el-checkbox__inner{
    border-color:#f79328;
}