.options, .services{
  padding: 20px 30px 20px 30px;
}
.services-without-padding{
  padding: 20px 0px 20px 30px;
}
.ordenes{
  border-left: 1px solid #dcdfe6;
  padding: 20px 30px 20px 30px;
}
.label-options{
  color: #968b8b;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color: #fff;
  background-color: #1a4793;
  border-color: #1a4793;
  box-shadow: none !important
}
.el-radio-button__inner:hover {
    color: #1a4793;
}
.el-checkbox{
  float: right;
  margin-top: 5px;
}
.el-checkbox__label {
  padding-left: 5px;
  font-size: 13px;
}
.el-checkbox__inner:hover {
  border-color: #1a4793;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #1a4793;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: #1a4793;
  border-color: #1a4793;
}
.el-checkbox__input.is-focus .el-checkbox__inner{
  border: 1px solid #dcdfe6;
}
.el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner,
.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 240px !important;
}
.el-input__icon {
  height: 27px !important;
}
.el-input__icon.el-range__icon.el-icon-date{
  height: 24px !important;
  font-size: 16px;
}
.el-range-editor--mini .el-range__close-icon{
  line-height: 27px;
}
.el-input--mini {
  font-size: 16px;
}
.el-input--prefix .el-input__inner {
  padding-left: 63px;
  margin-bottom: 0px;
}
.el-date-editor .el-range__close-icon{
  width: 7px;
}
.search{
  margin: 20px 0 0 0;
}
.search input{
  border-radius: 20px;
}
.search input:focus{
  border-color: rgba(26,71,147, 0.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(26,71,147,.6);
}
.service-date{
  margin-bottom: 20px;
}
.service{
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #dcdfe6;
}
.service-selected{
  background: #dde4f1;
}
.day-name{
  color: #666666;
  font-size: 20px;
  padding-top: 10px;
}
.format-date{
  color: #666666;
  font-weight: bold;
  font-size: 15px;
}
.reserved{
  color: #666666;
  font-size: 13px;
}
.available{
  color: #111111;
  font-weight: bold;
  font-size: 16px;
}
.hour-div{
  text-align: center;
  padding-top: 12px;
}
.hour {
  font-family: 'arial_rounded_mt_boldbold';
  font-size: 15px;
}
.service-name{
  display: flex;
  align-items: center;
  height: auto;
  font-size: 16px;
  flex-flow: row wrap;
}
.count-people{
  padding-top: 15px;
}
.count-people-title{
  font-style: italic;
  color: #666666;
  font-size: 13px;
  margin-top: 10px;
}
.buttons{
  padding-top: 17px;
  text-align: right;
  margin-left: 30px;
}
.button-exploor{
  color: #fff;
  background-color: #0f4990;
  border-color: #0f4990;
}
.show-service.el-button--text{
  color: #fb962c;
  padding: 0;
  text-decoration: underline;
}
.service-title{
  display: inline-block;
  color: #666666;
  font-size: 20px;
  text-transform: uppercase;
  text-align: justify;
  font-family: 'arial_rounded_mt_boldbold';
  padding-left: 0;
  line-height: 25px;
}
.close-ordenes{
  float: right;
  background: none;
  border: none;
  font-size: 23px;
  color: #f34e4e;
  padding: 5px 0 0 0;
}
.close-ordenes:hover{
  color: #f34e4e;
}
.service-details{
  color: #666666;
  font-size: 15px;
}
.service-people{
  display: inline-block;
  font-size: 17px;
  color: #666666;
}
.row-day{
   margin-bottom:20px;
}
.day-number{
   text-align:center;
}
.row-pointer{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
}
.order-tab{
  border-radius: 8px 8px 0px 0px;
  width: 30%;
}
.tab-select{
  background: #0f4990 !important;
  color:white !important;
}
.orders-empty{
  font-size: 30px !important;
  margin-bottom: 60px;
  margin-top: 70px;
  color: #666666;
  text-align: center;
}
.header-orders{
  background: #0f4990;
  color: white;
  margin-top: 40px;
  padding: 5px 0 5px 0;
  font-size: 11px;
}
.content-orders{
  background: white;
  color: #666666;
  padding: 3px 3px 0 3px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
.content-order-center{
  text-align: center;
  font-size: 12px !important;
}
.order-buttons.el-button--text{
  color: #00499e;
  padding: 0;
  font-size: 12px;
}
.order-buttons.el-button--text:hover{
  text-decoration: underline;
}
.order-buttons.is-disabled:hover{
  text-decoration: none;
}
.order-buttons.is-disabled{
  color: #c0c4cd;
}
.header-col{
  text-align: center;
}
.icon-not{
  color: #f34e4e;
  margin-top: 0px;
  font-size: 14px;
}
.icon-yes{
  color:#66bf66;
  margin-top: 0px;
  font-size: 14px;
}
.row-prices{
  background:#444444;
  color: white;
  font-size: 11px;
  margin: 5px 0 5px 0;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.services-empty{
  text-align:center;
  color: #968b8b;
  border-bottom: 1px solid #dcdfe6;
  padding-bottom: 30px;
}
.services-list-empty{
  text-align:center;
  color: #968b8b;
  margin-top: 100px;
  font-size: 25px;
}
.img-default{
  height: 72px !important;
  width: 109px !important;
}
#div-order{
  display: none;
}
.order-list{
  overflow: hidden;
}
#push{
  display: none !important;
}
.show-scroll{
  overflow-y: scroll;
}
.content-service-dialog h3{
  padding: 0;
  color: black;
}
.content-service-dialog p{
  word-wrap: break-word;
  text-align: justify;
}
.content-service-dialog h1{
  margin: 0;
}
.content-service-dialog ul{
  margin: 0 0 9px 15px;
}
.content-service-dialog li{
  line-height: 30px;
}
.detail-service-image{
  width: 100%;
  height: auto;
}
.el-dialog__header{
  text-align: center;
  font-family: 'arial_rounded_mt_boldbold';
}
.el-dialog{
  border-radius: 15px;
}
.el-dialog__footer{
  text-align: left;
}
.button-pdf{
  background: white;
  border-color: #1f4792;
}
.button-pdf:hover{
  background-color: #1f4792;
  border-color: #1f4792;
}
.button-pdf a{
  color: #1f4792;
  text-decoration: none;
}
.button-pdf a:hover{
  color: white;
}
.services-calendar{
  padding: 20px 30px 20px 30px;
}
.fc-center h2{
  font-size: 21px;
  font-family: 'arial_rounded_mt_boldbold';
}
.fc-agenda-view .fc-day-grid{
  display: none;
}
.fc-divider.fc-widget-header{
  display: none;
}
.fc-content{
  font-family: 'arial_rounded_mt_boldbold';
}
/* .fc-widget-content{
  background: #eba153;
} */
.fc-event .fc-bg{
  background: none !important;
}
.fc-scroller.fc-time-grid-container,
.fc-scroller.fc-day-grid-container{
  overflow-y: hidden !important;
  height: auto !important;
}
.fc-event-container:hover{
  cursor: pointer;
}
/* VIEW MONTH */
.fc-day-grid-event,
.fc-time-grid-event{
  margin-bottom: 5px !important;
  padding: 4px 4px !important;
}
.fc-time-grid-event .fc-time{
  font-size: 1em !important;
}
.fc-day-grid-event .fc-content{
  white-space: normal !important;
}
.fc-title{
  word-wrap: break-word !important;
}
.fc-day-grid-event:hover,
.fc-time-grid-event:hover{
  background: #1b4692!important;
  border-color: #1b4692 !important;
  color: white !important;
}
.match-search{
  color: white;
  background: #f79328;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}
.dialog-canceled .el-dialog__footer{
  text-align: right;
}
.canceled-reason textarea{
  height: auto !important;
  margin-top: 20px;
  margin-bottom: 0;
}
.canceled-reason .el-textarea__inner:focus{
  border-color: rgba(26,71,147, 0.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(26,71,147,.6);
}
.deleted-order .el-dialog__body{
  text-align: center;
}
.deleted-order .el-dialog__footer{
  text-align: center;
}
.service_company{
  width: 100%;
  margin: 0;
  color: #8a8a8a;
  font-size: 14px;
  margin: 5px 0px;
}
.service_company span{
  font-weight: bold;
}
.service-company-order{
  color: #666666;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'arial_rounded_mt_boldbold';
}
/* .el-dialog__title::after{
  left:0;
  bottom:0;
  top: 10;
	content:'';
	width:50px;
	height:2px;
	background:#ffb339;
	position:absolute;
} */
.buttons-calendar{
  background: none;
  color: #0f4990;
  border: none;
  font-size: 30px;
  padding: 0;
}
.hide{
  display: none;
}