.detail-service-image{
    width: 100%;
    height: auto;
}
.content-service-pdf p{
    word-wrap: break-word !important;
    text-align: justify;
}
.content-service-pdf ul{
    margin: 0 0 9px 15px;
}
.content-service-pdf li{
    line-height: 30px;
}
.content-service-pdf h1{
    margin: 0;
}
.content-service-pdf img{
    width: 100%;
    height: auto;
}
.content-service-pdf h3{
    padding: 0;
    color: black;
  }