{% extends "admin/base_site.html" %}
{% load i18n admin_static suit_tags %}
{% load url from suit_compat %}

{% block extrastyle %}{{ block.super }}
    {#    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />#}
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block header %}{% endblock %}

{% block content-left %}{% endblock %}

{% block container %}


{% block content %}
<div id="content-main"> 
	<h1><i class="icon-lock icon-white"></i> Exploor - Restablecer contraseña</h1>
	<div class="info-reset">
	  <p>
	    Hemos enviado a tu correo las instrucciones para restablecer tu contraseña.
	  </p>
	  <p>
	    Si no has recibido el correo, por favor asegúrate de ingresar el correo electrónico con el que te registraste.
		</p>
		<p>
			De ser necesario, por favor revisar spam.
		</p>
	</div>
</div>
{% endblock %}
{% endblock %}