
{% extends "admin/base_site.html" %}
{% load i18n admin_static suit_tags %}
{% load url from suit_compat %}

{% block extrastyle %}{{ block.super }}
    {#    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />#}
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block header %}{% endblock %}

{% block content-left %}{% endblock %}

{% block container %}


{% block content %}
<div id="content-main" class="reset-password"> 
  <h1><i class="icon-lock icon-white"></i> Exploor - Restablecer contraseña</h1>
  {% if validlink %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-info">Cambiar contraseña</button>
    </form>
  {% else %}
    <p>
      El enlace para restablecer tu contraseña es inválido, posiblemente ha sido usado, por favor vuelve a restablecer tu contraseña.
    </p>

  {% endif %}
</div>
{% endblock %}
{% endblock %}