{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% load url from suit_compat %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    <span class="divider">»</span>
  </li>
  <li class="active">
    Órdenes por servicio
  </li>
</ul>
{% endblock %}
{% block title %}
  Lista de Órdenes | Exploor
{% endblock %}
{% block extrahead %}
  {{ block.super }}
  {% url 'admin:jsi18n' as jsi18nurl %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <!-- <link rel="stylesheet" href="{% static 'admin/css/element2.css' %}"> -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'admin/css/vueWysiwyg.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/quill.snow.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 	  <link rel="stylesheet" type="text/css" href="{% static 'css/order-list.css' %}">
 	  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/fullcalendar.min.css' %}">
{% endblock %}
{% block content %}
<div id="orderList" :class="{'order-list': mode == 1}" :style="{'background': 'white', 'height': mode == 1 ? windowHeight: 'auto'}">
  <div id="div-order"><!-- UN DIV PARA OCULTAR EL CONTENIDO DEL CONTENEDOR BLANCO HASTA QUE SE CARGUE EL VUE -->
    <el-row class="options">
      <el-col :span="4">
        <p class="label-options">Modo:</p>
        <el-row>
          <el-radio-group v-model="mode" size="mini">
            <el-radio-button label="1">Lista</el-radio-button>
            <el-radio-button label="2">Calendario</el-radio-button>
          </el-radio-group>
        </el-row>
      </el-col>
      <el-col :span="5">
        <p class="label-options">Atajos de Fecha:</p>
        <el-radio-group v-model.number="dateType" size="mini">
          <el-radio-button label="1">Día<br>Actual</el-radio-button>
          <el-radio-button label="2">Semana<br>Actual</el-radio-button>
          <el-radio-button label="3">Mes<br>Actual</el-radio-button>
        </el-radio-group>
      </el-col>
      <el-col :span="6">
          <p class="label-options">Selector de Fecha:</p>
          <el-date-picker
          v-model="selectedRange"
          type="daterange"
          range-separator="-"
          start-placeholder="Desde"
          end-placeholder="Hasta"
          size="mini">
        </el-date-picker>
      </el-col>
      <el-col :span="9">
          <p class="label-options">Filtros:</p>
          <el-row>
            <el-radio-group v-model.number="filterType" size="mini">
              <el-radio-button label="1">Reservado</el-radio-button>
              <el-radio-button label="2">Disponible</el-radio-button>
              <el-radio-button label="3">Todo</el-radio-button>
            </el-radio-group>
            <el-checkbox v-model="onlyMyOrdenes" >Mostrar sólo mis ordenes</el-checkbox>
          </el-row>
      </el-col>
    </el-row>
    <div v-if="mode == 1">
      <el-row type="flex" justify="center"  class="search">
          <el-col :span="10">
            <el-input placeholder="Busca tus servicios u órdenes" v-model="search" size="medium">
              <i slot="suffix" class="el-input__icon el-icon-search"></i>
            </el-input>
          </el-col>
      </el-row>
      <div v-if="loadingServices == true">
        <el-row style="margin-top:100px">
          <beat-loader :loading="true" color="#0b448f" size="20px"></beat-loader>
        </el-row>
      </div>
      <div v-else>
          <el-row v-if="loadedServices.services_empty">
              <h3 class="services-list-empty">AÚN NO EXISTEN SERVICIOS PUBLICADOS</h3>
          </el-row>
          <el-row v-if="servicesListEmptyAfterFilter">
              <h3 class="services-list-empty">NO HAY COINCIDENCIAS</h3>
          </el-row>
        <el-row>
          <el-col :span="serviceSelected == null ? 24:10" :class="{'services': serviceSelected == null, 'services-without-padding': serviceSelected != null, 'show-scroll': loadedServices.services_empty == false, 'hide': servicesListEmptyAfterFilter == true}" :style="{'height': servicesHeight}" id="container-services">
            <el-row class="service-date" v-for="(services, key) in servicesList">
              <el-row :span="24" class="row-day">
                  <el-col :span="serviceSelected == null ? 2:5" class="day-number">
                    <span class="format-date">
                      ${formatDate(key).split(' ')[0]}
                    </span>
                    <br>
                    <span class="format-date">
                      ${_.capitalize(formatDate(key).split(' ')[1])}
                    </span>
                  </el-col>
                  <el-col :span="serviceSelected == null ? 22:19" class="day-name">
                    ${dayOfDate(key)}
                  </el-col>
              </el-row>
              <el-row v-if="services.length == 0" :data="JSON.stringify(services)">
                <h3 class="services-empty">Este día no cuenta con servicios.</h3>
              </el-row>
              <el-row v-else :class="{'service': true, 'service-selected': (serviceSelected != null && serviceSelected.identifier == service.identifier)}" v-for="service in services" :id="service.identifier">
                <el-col :span="serviceSelected == null ? 2:5" class="hour-div">
                  <span class="hour">
                    ${service.hour.split(' ')[0]}
                  </span>
                  <br>
                  <span class="hour">
                    ${service.hour.split(' ')[1]}
                  </span>
                </el-col>
                <el-col :span="serviceSelected == null ? 10:19">
                  <el-col :span="serviceSelected == null ? 5:6">
                      <img class="img-default" v-if="service.photo" :src=service.photo></img>
                      <img v-else src="https://ak.picdn.net/assets/cms/17d705f0349ed08f5387b39c7644054a59affe52-LOHP_vector_module_shutterstock_307324316.jpg" class="img-default"></img>
                  </el-col>
                  <el-col :span="serviceSelected == null ? 17:16" :offset="2" class="service-name">
                    <span style="width:100%">${service.service_name}</span>
                    <p v-if="serviceSelected == null" class="service_company"><span>Operador/Agencia:</span> ${service.service_company}</p>
                    <el-button type="text" v-if="serviceSelected == null" class="show-service" @click="serviceDetail(service.id)">Ver Servicio</el-button>
                    <span v-if="serviceSelected != null && service.people_total != 0" class="count-people-title">
                      ${service.available} Disponibles&nbsp;&nbsp;${service.reserved} Reservados
                    </span>
                    <span v-if="serviceSelected != null && service.people_total == 0" class="count-people-title">
                        Ilimitado&nbsp;&nbsp;${service.reserved} Reservados
                      </span>
                    
                  </el-col>
                </el-col>
                <el-col :span="3" :offset="1" class="count-people" v-if="serviceSelected == null">
                  <span class="available" v-show="service.people_total != 0">
                    ${service.available} Disponibles
                  </span>
                  <span class="available" v-show="service.people_total == 0">
                    Ilimitado
                  </span>
                  <br>
                  <span class="reserved">
                    ${service.reserved} Reservados
                  </span>
                </el-col>
                <el-col :span="7" class="buttons" v-if="serviceSelected == null">
                    <a :href="getCreateOrderUrl(service.service_id, service.date, service.hour, service.available)"><el-button size="mini" class="button-exploor" :disabled="service.available == 0 && service.people_total != 0">CREAR ORDEN <i class="fas fa-plus-circle"></i></el-button></a>
                    <el-button size="mini" class="button-exploor" @click="showOrdenes(key, service.identifier, false)">VER ÓRDENES <i class="far fa-list-alt" style="font-size:13px;"></i></el-button>
                </el-col>
                <el-col :span="24" v-if="service.foundUsers != undefined" class="match-search">
                    (Coincidencia encontrada en las órdenes de este servicio)
                </el-col>
                <!-- <el-col :span="24" v-if="service.foundTitle != undefined && service.foundUsers == undefined" class="match-search">
                    (Coincidencia encontrada)
                </el-col> -->
                <el-tooltip
                placement="bottom"
                effect="dark"
                transition="el-fade-in-step-start"
                open-delay="1000"
                :disabled="serviceSelected == null || serviceSelected.identifier == service.identifier">
                  <div slot="content">Haz click aquí para ver las<br/>órdenes de éste servicio</div>
                  <div class="row-pointer" v-show="serviceSelected != null" @click="showOrdenes(key, service.identifier, false)" ></div>
                </el-tooltip>
              </el-row>
            </el-row>
          </el-col>
          <el-col :span="serviceSelected == null ? 0:14" :class="{'ordenes': true, 'show-scroll': true, 'hide': servicesListEmptyAfterFilter == true}" :style="{'height': servicesHeight}">
            <div v-if="serviceSelected != null">
              <el-row>
                <el-col :span="22">
                  <h3 class="service-title">${serviceSelected.service_name}</h3>
                </el-col>
                <el-col :span="2">
                  <el-button class="close-ordenes" @click="closeOrdenes"><i class="fas fa-times-circle"></i></el-button>
                </el-col>
              </el-row>
              <el-row style="margin-top:10px; margin-bottom:10px;">
                <span class="service-company-order">Operador/Agencia: ${serviceSelected.service_company}</span>
              </el-row>
              <el-row style="margin-bottom:30px;">
                <el-button type="text" class="show-service" @click="serviceDetail(serviceSelected.id)">Ver Servicio</el-button>
              </el-row>
              <el-row>
                <el-col :span="8">
                    <el-row>
                      <p class="service-details"><i class="far fa-calendar-alt"></i>&nbsp;${serviceSelected.date}</p>
                    </el-row>
                    <el-row>
                      <p class="service-details"><i class="far fa-clock"></i>&nbsp;${serviceSelected.hour}</p>
                    </el-row>
                </el-col>
                <el-col :span="8" style="text-align:center;">
                    <el-row>
                        <p class="service-people" v-show="serviceSelected.people_total != 0">${serviceSelected.available}</p><span v-show="serviceSelected.people_total != 0" style="color: #666666">&nbsp;Disponibles</span>
                        <p class="service-people" v-show="serviceSelected.people_total == 0">Ilimitado</p>
                    </el-row>
                    <el-row>
                        <p class="service-people">${serviceSelected.reserved}</p><span style="color: #666666">&nbsp;Reservados</span>
                    </el-row>
                </el-col>
                <el-col :span="8" style="text-align:right;padding-top:10px;">
                    <el-row>
                      <a :href="getCreateOrderUrl(serviceSelected.service_id, serviceSelected.date, serviceSelected.hour, serviceSelected.available)"><el-button size="mini" class="button-exploor" :disabled="serviceSelected.available == 0 && serviceSelected.people_total != 0">CREAR ORDEN <i class="fas fa-plus-circle"></i></el-button></a>
                    </el-row>
                </el-col>
              </el-row>
              <el-row style="text-align:center; margin-top: 30px;">
                  <el-button @click="changeTab(false)" :class="{'order-tab': true, 'tab-select': tabOrder == false}">No Cancelados</el-button>
                    <el-button @click="changeTab(true)" :class="{'order-tab': true, 'tab-select': tabOrder == true}">Cancelados</el-button>
                </el-row>
              <div v-if="loadingOrdenes == true">
                <el-row style="margin-top:100px">
                    <beat-loader :loading="true" color="#0b448f" size="20px"></beat-loader>
                </el-row>
              </div>
              <div v-else>
                <el-row>
                  <p class='orders-empty' v-show="showOrders.length == 0">NO HAY ORDENES</p>
                  <div v-show="showOrders.length > 0">
                    <el-row :gutter="5" class="header-orders">
                      <el-col :span="6" class="header-col">Nombres<br><i class="far fa-user fa-lg"></i></el-col>
                      <el-col :span="5" class="header-col">Contacto<br><i class="far fa-address-book fa-lg"></i>
                      </el-col>
                      <el-col span="{% if request.user.type_user.id == 1 or request.user.type_user.id == 2 %}4{% else %}6{% endif %}" class="header-col">Monto<br><i class="fas fa-dollar-sign fa-lg"></i>
                      </el-col>
                      <el-col span="{% if request.user.type_user.id == 1 or request.user.type_user.id == 2 %}2{% else %}4{% endif %}" class="header-col">Reservas<br><i class="fas fa-users fa-lg"></i>
                      </el-col>
                      {% if request.user.type_user.id == 1 or request.user.type_user.id == 2 %}
                        <el-col :span="4" class="header-col">Creador<br><i class="fas fa-users fa-lg"></i>
                        </el-col>
                      {% endif %}
                      <el-col :span="3" class="header-col">Opciones<br><i class="fas fa-pencil-alt fa-lg"></i>
                      </el-col>
                    </el-row>
                    <el-row :gutter="5" class="content-orders" v-for="order in showOrders">
                      <el-col :span="6" class="content-order-center">
                        ${order.client_name}<br>Cod. de reserva: ${order.code}
                      </el-col>
                      <el-col :span="5" class="content-order-center">
                        ${order.client_email}<br>${order.client_number}
                      </el-col>
                      <el-col span="{% if request.user.type_user.id == 1 or request.user.type_user.id == 2 %}4{% else %}6{% endif %}" class="content-order-center">
                        ${order.amount}<br><el-tag type="success" size="mini">${order.type_payment}</el-tag>
                      </el-col>
                      <el-col span="{% if request.user.type_user.id == 1 or request.user.type_user.id == 2 %}2{% else %}4{% endif %}" class="content-order-center">${order.reserved_quantity}</el-col>
                      {% if request.user.type_user.id == 1 or request.user.type_user.id == 2 %}
                        <el-col :span="4" class="content-order-center">
                          ${order.creator}
                        </el-col>
                      {% endif %}
                      <el-col :span="3" class="content-order-center">
                        <a :href="getEditOrderUrl(order.id, serviceSelected.available, serviceSelected.reserved, serviceSelected.people_total)"><el-row><el-button type="text" class="order-buttons">Ver Detalle</el-button></el-row></a>
                        <el-row><el-button type="text" class="order-buttons" :disabled="tabOrder == true || order.confirmed == true" @click="confirmOrder(order.id)">Confirmar</el-button></el-row>
                        <el-row><el-button type="text" class="order-buttons" @click="cancelOrder(order.id)" :disabled="tabOrder == true || order.canceled == true">Cancelar</el-button></el-row>
                        <el-row><el-button type="text" class="order-buttons" @click="deleteOrder(order.id)">Eliminar</el-button></el-row>
                      </el-col>
                      <el-col :span="24" class="row-prices">
                        <span style="float:left">${order.prices_type}</span>
                        <span style="float:right" v-if="order.confirmed == false">POR CONFIRMAR</span>
                        <span style="float:right" v-if="order.confirmed == true">CONFIRMADO</span>
                      </el-col>
                    </el-row>
                  </div>
                </el-row>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
    <div v-else>
      <el-row class='services-calendar'>
        <el-row style="text-align:right;">
            <el-button class="buttons-calendar" @click="goDatePreview"><i class="fas fa-caret-square-left"></i></el-button>
            <el-button class="buttons-calendar" @click="goDateNext"><i class="fas fa-caret-square-right"></i></el-button>
        </el-row>
        <full-calendar :date-type='dateType' :events='servicesList' @click="showOrdenes" :selected-range='selectedRange'></full-calendar>
      </el-row>
    </div>
  
    <el-dialog
    :title="serviceInfo != null ? serviceInfo.title.toUpperCase(): ''"
    :visible.sync="dialogService"
    width="50%">
      <div v-if="serviceInfo != null" class="content-service-dialog">
        {% include 'admin/ordenes/order/service_detail.html' with pdf=False %}
      </div>
      <span slot="footer" class="dialog-footer" v-if="serviceInfo != null">
          <a class="btn btn-primary" :href="'/admin/ordenes/order/service-detail-pdf?id=' +serviceInfo.id">Descargar PDF</a>
        </span>
    </el-dialog>
    <el-dialog
    title="CANCELAR ORDEN"
    :visible.sync="dialogCanceled"
    width="40%"
    class="dialog-canceled">
      <span>Para continuar debe agregar el motivo del porque se cancelará esta orden</span>
      <el-input
        type="textarea"
        :rows="3"
        placeholder="Por favor ingresa el motivo"
        v-model="canceledReason"
        class="canceled-reason">
      </el-input>
      <span slot="footer" class="dialog-footer" v-if="loadingCanceled == false">
        <el-button type="danger" @click="dialogCanceled = false">No</el-button>
        <el-button type="success" @click="confirmCanceledOrder" :disabled="canceledReason == ''">Si, estoy seguro</el-button>
      </span>
      <span v-else>
        <el-row style="margin-top:100px">
            <beat-loader :loading="true" color="#0b448f" size="20px"></beat-loader>
        </el-row>
      </span>
    </el-dialog>
    <el-dialog
    title="Eliminar Orden"
    :visible.sync="dialogDeleted"
    width="30%"
    class="deleted-order">
      <span>¿Estás seguro que quieres eliminar esta orden?</span>
      <span slot="footer" class="dialog-footer" v-if="loadingDeleted == false">
          <el-button type="danger" @click="dialogDeleted = false">No</el-button>
          <el-button type="success" @click="confirmDeleteOrder">Si, estoy seguro</el-button>
      </span>
      <span v-else>
        <el-row style="margin-top:100px">
            <beat-loader :loading="true" color="#0b448f" size="20px"></beat-loader>
        </el-row>
      </span>
    </el-dialog>
    <el-dialog
    title="Confirmar Orden"
    :visible.sync="dialogConfirmed"
    width="30%"
    class="deleted-order">
      <span>¿Estás seguro que quieres confirmar esta orden?</span>
      <span slot="footer" class="dialog-footer" v-if="loadingConfirmed == false">
          <el-button type="danger" @click="dialogConfirmed = false">No</el-button>
          <el-button type="success" @click="confirmOrderSure">Si, estoy seguro</el-button>
      </span>
      <span v-else>
        <el-row style="margin-top:100px">
            <beat-loader :loading="true" color="#0b448f" size="20px"></beat-loader>
        </el-row>
      </span>
    </el-dialog>
  </div>

</div>
<script>
  var createOrderUrl = "{% url 'admin:ordenes_order_add' %}"
  var editOrderUrl = "{% url 'admin:ordenes_order_change' 'id' %}"
  var deleteOrderUrl = "{% url 'admin:delete_order' %}"
  var servicesListUrl = "{% url 'admin:services_list' %}"
  var ordersListUrl = "{% url 'admin:orders_list' %}"
  var serviceDetailUrl = "{% url 'admin:service_order_detail'%}"
  var orderCanceledUrl = "{% url 'admin:order_canceled'%}"
  var orderConfirmedUrl = "{% url 'admin:order_confirmed'%}"
  var today = "{% autoescape off %}{{today}}{% endautoescape off %}"
</script>
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'admin/js/element2.js' %}"></script>
<script src="https://unpkg.com/element-ui/lib/umd/locale/es.js"></script>
<!-- <script src="{% static 'admin/js/element2.es.js' %}"></script> -->
<script src="{% static 'admin/js/lodash.min.js' %}"></script>
<script src="{% static 'admin/js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'admin/js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.js' %}"></script>
<script src="{% static 'js/uuid.min.js' %}"></script>
<script src="{% static 'js/md5.min.js' %}"></script>
<script src="{% static 'js/vue-spinner.min.js' %}"></script>
<script src="{% static 'admin/js/vee-validate.js' %}"></script>
<script src="{% static 'admin/js/vee-validate.es.js' %}"></script>
<script src="https://unpkg.com/vue-upload-component"></script>
<script src="{% static 'js/order-list.js' %}"></script>
{% endblock %}
