{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% load url from suit_compat %}

{% block extrastyle %}
  {{ block.super }}

{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% url 'admin:jsi18n' as jsi18nurl %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <!-- <link rel="stylesheet" href="{% static 'admin/css/element.css' %}"> -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'admin/css/vueWysiwyg.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/quill.snow.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 	<link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}

  {% endblock %}
{% endif %}

{% block content %}
<div id="order">
	<el-form :label-position="'top'">
		<el-row class="mt-4 ml-2">
			<el-col :span="19" :style="{'overflow':'auto', 'height': dynamicHeight}">
				<el-row>
					<el-col :span="20" :offset="1">
						<h3 class="paragraph"> Por favor completa la orden </h3>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="20" :offset="1">
						<div :class="{'background-white': true}">
							<el-row>
								<h3>Cliente:</h3>
							</el-row>
							<el-row>
								<el-col :span="10" >
									<el-form-item label="Nombres*" :class="{'error':errorsVee.has('name')}">
										<el-input v-model="order.firstName" placeholder="Escriba el nombre" data-vv-as="Nombres" v-validate="'required'"  data-vv-value-path="value"  name="name" data-vv-name="name" @focus="setHelp('name_customer')" size="small"></el-input>
										<span v-show="errorsVee.has('name')" class="error-info">${errorsVee.first('name')}</span>
									</el-form-item>
								</el-col>
								<el-col :span="10" :offset="1" >
									<el-form-item label="Apellidos*" :class="{'error':errorsVee.has('lastname')}">
										<el-input v-model="order.lastName" placeholder="Escriba los apellidos" data-vv-as="Apellidos" v-validate="'required'"  data-vv-value-path="value"  name="lastname" data-vv-name="lastname" @focus="setHelp('lastname_customer')" size="small"></el-input>
										<span v-show="errorsVee.has('lastname')" class="error-info">${errorsVee.first('lastname')}</span>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="10" >
									<el-form-item label="Email*" :class="{'error':errorsVee.has('email')}">
										<el-input v-model="order.email" type="email" placeholder="Escriba el email" data-vv-as="Email" v-validate="'required|email'"  data-vv-value-path="value"  name="email" data-vv-name="email" @focus="setHelp('email_customer')" size="small"></el-input>
										<span v-show="errorsVee.has('email')" class="error-info">${errorsVee.first('email')}</span>
									</el-form-item>
								</el-col>
								<el-col :span="8"  :offset="1" >
									<el-form-item label="Móvil*" :class="{'error':errorsVee.has('mobileCustomer')}">
										<el-input v-model="order.mobileCustomer" type="number" placeholder="Escriba el movil" data-vv-as="Móvil" v-validate="'required|numeric'"  data-vv-value-path="value"  name="mobileCustomer" data-vv-name="mobileCustomer" @focus="setHelp('mobile_customer')" size="small"></el-input>
										<span v-show="errorsVee.has('mobileCustomer')" class="error-info">${errorsVee.first('mobileCustomer')}</span>
									</el-form-item>
								</el-col>
							</el-row>

							<el-row>
								<el-col :span="10">
									<el-form-item label="País*" :class="{'error':errorsVee.has('client_country')}">
										<el-select filterable style="width:100%;" class="exclude-error" v-model="order.client_country" placeholder="Seleccione un país" data-vv-as="País" v-validate="'required'" data-vv-value-path="value"  name="client_country" data-vv-name="client_country" @visible-change="function(visible){setHelpChange(visible,'client_country')}" size="small">
						    				<el-option v-for="item in countries" :key="item.id" :label="item.name" :value="item.id">
						    				</el-option>
						  				</el-select>
										<span v-show="errorsVee.has('client_country')" class="error-info">${errorsVee.first('client_country')}</span>
						  			</el-form-item>
					  			</el-col>
							</el-row>

						</div>
						<div :class="{'background-white': true}">
							<el-row>
								<h3>Servicios:</h3>
							</el-row>
							<el-row>
								<el-col :span="14">
									<el-form-item label="Seleccione el servicio*" :class="{'error':errorsVee.has('service')}">
										<el-select 
											class="exclude-error"
											style="width:100%;" 
											v-model="serviceSelected" 
											data-vv-as="Servicio" 
											v-validate="'required'"  
											data-vv-value-path="value"  
											name="service" 
											data-vv-name="service"
											:multiple="false" 
											:filterable="true" 
											:remote="true" 
											:reserve-keyword="true" 
											placeholder="Por favor ingresa un servicio" 
											:remote-method="remoteMethod" 
											:loading="searchingService"
											loading-text="Buscando servicios..."
											no-data-text="No se encontraron resultados"
											:ref="'select-service'"
											@visible-change="function(visible){setHelpChange(visible,'service_select')}"
											size="small">
											<el-option-group
										      v-for="(options, group) in groupedServices"
										      :key="group"
										      :label="group">
										      <el-option
										        v-for="item in options"
										        :key="item.id"
										        :label="item.title"
										        :value="item.id"
										        :disabled="item.deleted">
										      </el-option>
										    </el-option-group>
						  				</el-select>
										<span v-show="errorsVee.has('service')" class="error-info">${errorsVee.first('service')}</span>
						  			</el-form-item>
								  </el-col>
								  <el-col :span="10" class="capacity" v-if="loadingCapacity == false && order.date && order.hour">
									  <p v-show="maxPeople != 0">CAPACIDAD: ${order.available} personas.</p>
									  <p v-show="maxPeople == 0">CAPACIDAD ILIMITADA</p>
								  </el-col>
								  <el-col :span="10" v-if="loadingCapacity == true && order.date && order.hour" class="capacity">
									  <p>Calculando capacidad...</p>
								  </el-col>
							</el-row>
							<el-row>
									<el-col :span="6">
										<el-form-item label="Fecha de salida*" :class="{'error':errorsVee.has('date')}">
											<el-popover placement="left-start" title="" width="190" trigger="hover" :content="'Para seleccionar la fecha debe seleccionar un servicio'" :disabled="!dateDisabled">
												
												<el-date-picker 
												slot="reference" 
												style="width:100%;" 
												class="out_date_cursor" 
												:disabled="dateDisabled" 
												v-model="order.date" 
												type="date" 
												placeholder="Fecha" 
												data-vv-as="Fecha de salida" 
												v-validate="'required'" 
												data-vv-value-path="value"  
												name="date" 
												data-vv-name="date" 
												:editable="false" 
												@focus="setHelp('out_date')" 
												@change="changeDeletedDate"
												:picker-options='serviceDateOptions'
												size="small">
												</el-date-picker>
											</el-popover>
											<span v-show="errorsVee.has('date')" class="error-info">${errorsVee.first('date')}</span>
											<h5><span v-if="deletedDate" class="error-info">Esta fecha ya no esta disponible en la configuración actual del servicio</span></h5>
										</el-form-item>
									</el-col>
									<el-col :span="7"  :offset="2">
										<el-form-item label="Horas disponibles*" :class="{'error':errorsVee.has('hour')}">
											<el-select v-model="order.hour" placeholder="Horas" :name="'hour'" :data-vv-name="'hour'" v-validate="'required'" class="exclude-error" :data-vv-as="'Horas disponibles'" @change="changeDeletedHour" size="small">
												<el-option v-for="item in hoursAvailable" :key="item.value" :label="item.label" :value="item.value" :disabled="item.disabled" >
												</el-option>
											  </el-select>
											  <span v-show="errorsVee.has('hour')" class="error-info">${errorsVee.first('hour')}</span>
											  <!-- <h5><span v-if="deletedHour" class="error-info">Esta hora ya no esta disponible en la configuración actual del servicio</span></h5> -->
										</el-form-item>
									</el-col>
								</el-row>
							<el-row>
								<div v-for="price, index in order.prices"@mouseover="setHelp('service_category')"> 
									<el-row class="price-title-row" >
										<el-col :span="2" class="padding-check">
											<el-popover placement="top-start" title="" width="190" trigger="hover" :content="getPriceTooltipInfo(price)" :disabled="price.enabled || orderWithoutSchedule || loadingCapacity">
												<el-checkbox v-model="price.enabled" slot="reference" @change="disableServicePrices" :disabled="price.disabled || orderWithoutSchedule || loadingCapacity"></el-checkbox>
											</el-popover>
										</el-col>
										<el-col :span="20">
											<el-row>
												<h3>${price.category__name} <span v-if="price.deleted" class="error-info">(Este tipo de precio ya no existe en el servicio)</span></h3>
												
											</el-row>
											<el-row class="price-row">
												<strong><h4>Precio: ${getPriceString(index)}</h4></strong>
											</el-row>
										</el-col>
									</el-row>
									<el-row v-if="!price.deleted && price.update && price.enabled ">
										<el-col :offset="2" :span="22" v-if="!price.enabledupdate">
											<span><strong>Configuración actual:</strong></span>
										</el-col>
										<el-col :offset="2" :span="22" v-if="price.update_price && !price.enabledupdate">
											<span>- El precio actual para esta categoría es: <strong>${order.symbolCurrency}${price.update_price}</strong>.</span>
										</el-col>
										<el-col :offset="2" :span="22" v-if="price.update_min_people && !price.enabledupdate">
											<span>- El mínimo actual para este grupo es: <strong>${price.update_min_people}</strong>.</span>
										</el-col>
										<el-col :offset="2" :span="22" v-if="price.update_max_people && !price.enabledupdate">
											<span >- El máximo actual para este grupo es: <strong>${price.update_max_people}</strong>.</span>
										</el-col>
										<el-col :offset="2" :span="22" v-if="price.update_group_applied && !price.enabledupdate">
											<span>- La configuración actual de este grupo es: <strong>${price.update_group_applied == 1 ? 'por persona': 'por grupo'}</strong>.</span>
										</el-col>
										<el-col :span="22" :offset="2" style="margin-top: 10px">
											<el-checkbox v-model="price.enabledupdate" @change="updateData(price)">Haz click aquí para usar la configuración actual.</el-checkbox>
										</el-col>
										<el-col :offset="2" :span="22">
											<span class="error-info"><strong>(Recuerda: Esta acción no es reversible después de guardar)</strong></span>
										</el-col>
									</el-row>
									<el-row v-if="price.enabled" style="margin-top: 10px">
										<el-col :span="4" :offset="2">
											<el-form-item label="Cantidad*" :class="{'error':errorsVee.has('quantity' + index), 'no-b-margin': true}">
												<el-input data-vv-as="Cantidad" v-validate="'quantityParticipant:' + price.participants.length + '|'+(price.category__name != 'Grupo' ? 'required|min_value:' + 1 : 'required|between:'+price.min_people+','+price.max_people)" data-vv-value-path="value"  :name="'quantity' + index" :data-vv-name="'quantity' + index" v-model.number="price.quantity" type="number" placeholder="Ej: 1" @focus="setHelp('participants')"></el-input>
											</el-form-item>
										</el-col>
										<el-col :offset="2" v-if="errorsVee.has('quantity' + index)" :span="24" :class="{'error':errorsVee.has('quantity' + index)}">
											<span v-show="errorsVee.has('quantity' + index)" class="error-info">${errorsVee.first('quantity' + index)}</span>
										</el-col>
									</el-row>
									<el-row v-if="price.enabled">
										<el-col :span="22" :offset="2">
											<el-form-item label="">
												<label class="participant-label">Participantes</label>
												<el-popover placement="right-start" title="" width="200" trigger="hover" content="Haz clic aquí para agregar los datos de los participantes" :open-delay="500">
													<el-button slot="reference" @click="addParticipant(index)" class="plus-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></el-button>
												</el-popover>
											</el-form-item>
										</el-col>
									</el-row>
									<el-row v-if="price.enabled" v-for="participant, participantIndex in price.participants" :key="index"> <!-- AQUI VA EL V-FOR DE LA CANTIDAD DE PARTICIPANTES POR CADA TIPO DE PRECIO-->
										<el-col :span="8" :offset="2">
											<el-form-item label="Nombres*" :class="{'error':errorsVee.has('participantName' + participantIndex)}">
												<el-input v-model="participant.firstName" placeholder="Escriba el nombre" data-vv-as="Nombres" v-validate="'required'" data-vv-value-path="value"  :name="'participantName' + participantIndex" :data-vv-name="'participantName' + participantIndex" @focus="setHelp('participant_name')" ></el-input>
												<span v-show="errorsVee.has('participantName' + participantIndex)" class="error-info">${errorsVee.first('participantName' + participantIndex)}</span>
											</el-form-item>
										</el-col>
										<el-col :span="7" :offset="1">
											<el-form-item label="Apellidos*" :class="{'error':errorsVee.has('participantLastname' + participantIndex)}">
												<el-input v-model="participant.lastName" placeholder="Escriba el apellido" data-vv-as="Apellidos" v-validate="'required'" data-vv-value-path="value"  :name="'participantLastname' + participantIndex" :data-vv-name="'participantLastname' + participantIndex" @focus="setHelp('participant_lastname')" ></el-input>
												<span v-show="errorsVee.has('participantLastname' + participantIndex)" class="error-info">${errorsVee.first('participantLastname' + participantIndex)}</span>
											</el-form-item>
										</el-col>
										<el-col :span="4" :offset="2">
											<span @click="removeParticipant(index,participantIndex)"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
										</el-col>
									</el-row>
									<hr>
								</div>
							</el-row>
							<el-row>
								<span class="error-info">${errorPrice}</span>
							</el-row>
							<el-row>
								<el-col :span="4" :offset="8">
									<h3>Total:</h3>
								</el-col>
								<el-col :span="4" :offset="1">
									<h3>${order.symbolCurrency} ${getTotal()}</h3>
								</el-col>
							</el-row>
						</div>
						
						<div :class="{'background-white': true}">
							<el-row>
								<h3>Pago del Cliente:</h3>
							</el-row>
							<el-row v-if="isOperator || isSuperAdmin">
								<el-col :span="10">
									<el-form-item label="Canal de venta*" :class="{'error':errorsVee.has('channel')}">
										<el-select style="width:100%;" class="exclude-error" v-model="order.channel" placeholder="Seleccione una opción" data-vv-as="Canal de venta" v-validate="'required'" data-vv-value-path="value"  name="channel" data-vv-name="channel" @visible-change="function(visible){setHelpChange(visible,'sale_place')}" size="small">
						    				<el-option-group
										      v-for="group in sourceOfOrder"
										      :key="group.label"
										      :label="group.label">
										      <el-option
										        v-for="item in group.options"
										        :key="item.value"
										        :label="item.label"
										        :value="group.type + '-' + item.value"
										        :disabled="item.deleted">
										      </el-option>
										    </el-option-group>
						  				</el-select>
										<span v-show="errorsVee.has('channel')" class="error-info">${errorsVee.first('channel')}</span>
						  			</el-form-item>
					  			</el-col>
					  			<!-- <el-col :span="2" style="padding-top: 41px">
					  				<el-popover placement="right-start" title="" width="190" trigger="hover" :content="'Haz click aquí para agregar una oficina'">
										<el-button class="plus-button" @click="showOfficeDialog = true" slot="reference"><i class="fa fa-plus-circle" aria-hidden="true"></i>
					  					</el-button>
									</el-popover>
					  				
					  				<el-dialog title="Crear una oficina" :visible.sync="showOfficeDialog">
					  					<el-row>
						  						<el-col :span="24">
			  										<el-form-item label="Nombre de oficina:" :class="{'error':errorsVee.has('nameOffice')}">
														<el-input v-model="nameOffice" placeholder="Escriba el nombre" data-vv-as="Nombre de oficina" v-validate="''" name="nameOffice" data-vv-name="nameOffice" data-vv-value-path="value" size="small"></el-input>
														<span v-show="errorsVee.has('nameOffice')" class="error-info">${errorsVee.first('nameOffice')}</span>
													</el-form-item>
											</el-col>
										</el-row>
  										<span slot="footer" class="dialog-footer">
	    									<el-button @click="showOfficeDialog = false">Cancelar</el-button>
	    									<el-button :disabled="nameOffice.length == 0" type="success" @click="addOffice" :loading="savingOffice">Guardar</el-button>
  										</span>
									</el-dialog>
					  			</el-col> -->
							</el-row>
							<el-row>
								<el-col :span="10">
									<el-form-item label="Modo de pago*" :class="{'error':errorsVee.has('payment')}">
										<el-select style="width:100%;" class="exclude-error" v-model="order.payment" placeholder="Tipo de pago" data-vv-as="Modo de pago" v-validate="'required'" data-vv-value-path="value"  name="payment" data-vv-name="payment" @visible-change="function(visible){setHelpChange(visible,'payment_type')}" size="small">
						    				<el-option v-for="item in paymentTypes" :key="item.id" :label="item.label" :value="item.value" :disabled="item.deleted">
						    				</el-option>
						  				</el-select>
										<span v-show="errorsVee.has('payment')" class="error-info">${errorsVee.first('payment')}</span>
						  			</el-form-item>
					  			</el-col>
							</el-row>
							<el-row>
								<el-col :span="6">
									<el-form-item label="Código de Reserva*" :class="{'error':errorsVee.has('reference')}">
										<el-input v-model="order.reference" placeholder="Escriba código de referencia" data-vv-as="Referencia" v-validate="'required'" data-vv-value-path="value"  name="reference" data-vv-name="reference" @focus="setHelp('reference')" size="small"></el-input>
										<span v-show="errorsVee.has('reference')" class="error-info">${errorsVee.first('reference')}</span>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row style="margin-bottom: 20px;">
								<el-col :span="8">
									<el-form-item label="¿Esta orden está confirmada?">
										<el-radio v-model="order.orderConfirmed" :label="false" border size="medium">NO</el-radio>
										<el-radio v-model="order.orderConfirmed" :label="true" border size="medium">SI</el-radio>
									</el-form-item>
								</el-col>
								<el-col :span="16" class="notice-confirm" v-show="order.emailSend == false && order.orderConfirmed == true">
									<p> Se enviará un correo de confirmación al cliente.</p>
								</el-col>
							</el-row>
							<el-row v-show="order.emailSend == true && order.orderConfirmed == true" class="checkbox-resend">
								<el-checkbox v-model="order.resend">Activa esta opción para reenviar el correo de confirmación</el-checkbox>
							</el-row>
							<el-row>
								<el-col :span="24">
									<el-form-item label="Información adicional">
										<el-input type="textarea" :rows="3" placeholder="Ingrese texto aquí" v-model="order.infoAdditional" @focus="setHelp('additional_information_order')">
										</el-input>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row class="bottom">
								<el-col  :span="24" >
									<el-row type="flex" justify="end">
										<el-button type="success" class="previous" @click="redirectListOrder">Regresar</el-button>
										<el-button type="danger" @click="deleteOrder" v-if="order.orderId">Eliminar</el-button>
										<el-button class="btn-sgte" @click="saveOrder" :loading="savingOrder" type="success" 
										>Guardar</el-button>
										<!-- :disabled="isSuperAdmin" -->
									</el-row>
								</el-col>
							</el-row>
						</div>
					</el-col>
				</el-row>
			</el-col>
			<el-col :span="5" :class="{'order-help-info':true, 'help-background-white': true, 'help-section': true}" :style="{'height': dynamicHeightHelp}">
				<el-row>
					<h3 class="text-center">Ayuda</h3>
					<div v-html="helpInfo" style="padding:15px;"></div>
				</el-row>
			</el-col>
		</el-row>
	</el-form>
	<el-dialog
	  title="Confirmación"
	  :visible.sync="deleteConfirmDialog"
	  size="tiny">
	  <span>¿Estás seguro que deseas eliminar esta orden?</span>
	  <span slot="footer" class="dialog-footer">
	    <el-button @click="deleteConfirmDialog = false">Cancelar</el-button>
	    <el-button type="danger" :loading="deletingOrder" @click="confirmDelete">Confirmar</el-button>
	  </span>
	</el-dialog>
</div>
<script>
	var saveOrderUrl = "{% url 'admin:save_order' %}"
	var changelistOrderUrl = "{% url 'admin:ordenes_order_changelist' %}"
	var deleteOrderUrl = "{% url 'admin:delete_order' %}"
	var serviceCapacityUrl = "{% url 'admin:service_capacity' %}"
	var dataService = {% autoescape off %}{{info_service}}{% endautoescape off %}
	var countries = {% autoescape off %}{{countries}}{% endautoescape off %}
	var emailSend = {% autoescape off %}{{email_send}}{% endautoescape off %}
	var paymentTypeList = {% autoescape off %}{{payment_type}}{% endautoescape off %}
	var companyAgentsList = {% autoescape off %}{{company_agents}}{% endautoescape off %}
	var distributionChannels = {% autoescape off %}{{distribution_channels}}{% endautoescape off %}
	var searchServiceUrl = "{% url 'admin:service_by_name' %}"
	var fieldsHelpList = {% autoescape off %}{{fields_help}}{% endautoescape off %}
	var dataOrder = {% autoescape off %}{{info_order}}{% endautoescape off %}
	var idOrder = {% autoescape off %}{{id_order}}{% endautoescape off %}
	var referenceCode = "{% autoescape off %}{{reference_code}}{% endautoescape off %}"
	var isSuperAdmin = {% if request.user.is_superuser %} true {% else %} false {% endif %}
	var isAgent = {% if request.user.is_agent %} true {% else %} false {% endif %}
	var isOperator = {% if request.user.is_operator %} true {% else %} false {% endif %}
 </script>
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/polyfill.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'admin/js/element2.js' %}"></script>
<!-- <script src="{% static 'admin/js/element.es.js' %}"></script> -->
<script src="//unpkg.com/element-ui/lib/umd/locale/es.js"></script>
<script src="{% static 'admin/js/lodash.min.js' %}"></script>
<script src="{% static 'admin/js/vueWysiwyg.js' %}"></script>
<script src="{% static 'admin/js/jquery.js' %}"></script>
<script src="{% static 'admin/js/vue-quill-editor.min.js' %}"></script>
<script src="{% static 'admin/js/vue2-dropzone.js' %}"></script>
<script src="{% static 'admin/js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'admin/js/cropper.min.js' %}"></script>
<script src="{% static 'admin/js/vee-validate.js' %}"></script>
<script src="{% static 'admin/js/vee-validate.es.js' %}"></script>
<script src="{% static 'js/order.js' %}"></script>
{% endblock %}