{% if pdf %}
    {% load admin_static %}
    <link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/css/bootstrap.min.css' %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/service_detail.css' %}">
{% endif %}
<div class="container-fluid content-service-pdf">
    {% if pdf %}
        <div class="row" style="text-align:center">
            <h2>{{title|upper}}</h2>
        </div>
    {% endif %}
    <div class="row">
        <h3><strong>Vigencia</strong></h3>
        {% if pdf %}
            <span>Desde: {{since}}<br>Hasta: {{until}}</span>
        {% else %}
            <span>Desde: ${serviceInfo.since}<br>Hasta: ${serviceInfo.until}</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>Horarios</strong></h3>
        <ul>
            {% if pdf %}
                {% for schedule in schedule %}
                <li>
                    <span>{{schedule.day_index}} : </span>
                    <span>{{schedule.hours|safeseq|join:' - '}}</span>
                </li>
                {% endfor %}
            {% else %}
                <li v-for="schedule in serviceInfo.schedule">
                <span>${_.capitalize(moment().isoWeekday(schedule.day_index).format('dddd'))} :</span>
                <span>${_.join(schedule.hours, ' - ')}</span>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="row">
            <h3><strong>Duración</strong></h3>
            {% if pdf %}
                <span>{{duration_unit|title}}: {{duration}}</span>
            {% else %}
                <span>${_.capitalize(serviceInfo.duration_unit)}: ${serviceInfo.duration}</span>
            {% endif %}
            
    </div>
    
    <div class="row">
        <h3><strong>Fechas Excluidas</strong></h3>
        {% if not pdf %}
            <p v-if="serviceInfo.excluded_dates.length == 0">Sin fechas excluidas</p>
        {% else %}
            {% if excluded_dates|length == 0 %}
            <p>Sin fechas excluidas</p>
            {% endif %}
        {% endif %}
        <ul>
            {% if pdf %}
                {% for date in excluded_dates %}
                    <li>
                        <span>{{date.start}} - {{date.end}}</span>
                    </li>
                {% endfor %}
            {% else %}
                <li v-for="date in serviceInfo.excluded_dates">
                    <span>${date.start} - ${date.end}</span>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <h3><strong>Descripción Larga</strong></h3>
        {% if pdf %}
            {% autoescape off %}{{description_long}}{% endautoescape off %}
        {% else %}
            <span v-html="serviceInfo.description_long"></span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>Itinerario</strong></h3>
        {% if pdf %}
            {% autoescape off %}{{itinerary}}{% endautoescape off %}
        {% else %}
            <span v-html="serviceInfo.itinerary"></span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>Incluído</strong></h3>
        {% if pdf %}
            {% autoescape off %}{{included}}{% endautoescape off %}
        {% else %}
            <span v-html="serviceInfo.included"></span>
        {% endif %}
    </div>
    <div class="row"row>
        <h3><strong>No Incluído</strong></h3>
        {% if pdf %}
            {% autoescape off %}{{not_included}}{% endautoescape off %}
        {% else %}
            <span v-html="serviceInfo.not_included"></span>
        {% endif %}
    </div>
    <div class="row"row>
        <h3><strong>Recomendaciones</strong></h3>
        {% if pdf %}
            {% if recommendations %}
                {% autoescape off %}{{recommendations}}{% endautoescape off %}
            {% else %}
                <span>-</span>
            {% endif %}
        {% else %}
            <span v-if="serviceInfo.recommendations" v-html="serviceInfo.recommendations"></span>
            <span v-else>-</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>Información Adicional</strong></h3>
        {% if pdf %}
            {% if additional_information %}
                {% autoescape off %}{{additional_information}}{% endautoescape off %}
            {% else %}
                <span>-</span>
            {% endif %}
        {% else %}
            <span v-if="serviceInfo.additional_information" v-html="serviceInfo.additional_information"></span>
            <span v-else>-</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>Términos y Condiciones</strong></h3>
        {% if pdf %}
            {% autoescape off %}{{terms_conditions}}{% endautoescape off %}
        {% else %}
            <span v-html="serviceInfo.terms_conditions"></span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>Imagen</strong></h3>
        {% if pdf %}
            {% if media.images|length > 0%}
                <img class="detail-service-image" src="{{media.images.0.original}}"></img>
            {% else %}
                <img class="detail-service-image" v-else src="https://ak.picdn.net/assets/cms/17d705f0349ed08f5387b39c7644054a59affe52-LOHP_vector_module_shutterstock_307324316.jpg"></img>
            {%endif%}
        {% else %}
            <img class="detail-service-image" v-if="serviceInfo.media.images.length > 0" :src="serviceInfo.media.images[0].original"></img>
            <img class="detail-service-image" v-else src="https://ak.picdn.net/assets/cms/17d705f0349ed08f5387b39c7644054a59affe52-LOHP_vector_module_shutterstock_307324316.jpg"></img>
        {% endif %}
    </div>
</div>

